<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>PASECO</title>
  </head>
  <body>
    <div style="background-color: #00528a;">
      <nav class="navbar">
        <div style="background-color: white; margin-bottom: 20px;">
          <img src="https://paseco-production.s3.amazonaws.com/logo.png" width="150" height="35">
        </div>
      </nav>
      <div class="container-fluid page-body-wrapper">
        <div style="background-color: #089bd7; color: white; font-family: 'Tahoma';">
          <div class="content-wrapper">
            <div class="container">
              <div style="margin-left: 10px; min-height: 150px;">
                <br><h3>Planilla:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= @payrole.name %></h3>
                <h3>Periodo:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= @payrole.start_date + '-' + @payrole.end_date %></h3>
                <h3>Colaborador: <%= @employee.name %> </h3>
                <h3>Salario:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= number_to_currency(@employee.payrole_details.where(role_id: @payrole.id).first.net_salary, unit: '₡') rescue nil %> </h3>
              </div>
              <div class="row">
                <div  class="col-12">
                  <div style="background-color: #089bd7;">
                    <div style="margin-top: 20px; margin-left: 20px; margin-right: 20px; background-color: white; color: black;">
                      <div id="table" class="">
                        <table style="overflow-x: scroll; overflow-y: hidden; min-height: 200px; white-space:nowrap; display: block; margin: 20px;">
                          <thead style="background-color: #00528a; color: white;">
                            <tr>
                              <th style="border: 1px solid">Puesto</th>
                              <th style="border: 1px solid">Fecha</th>
                              <th style="border: 1px solid; min-width: 175px;">Turno</th>
                              <th style="border: 1px solid">Sub-Puesto</th>
                              <th style="border: 1px solid">Horas</th>
                              <th style="border: 1px solid">Salario Mínimo</th>
                              <th style="border: 1px solid">Feriado</th>
                              <th style="border: 1px solid">Nº Horas Extras</th>
                              <th style="border: 1px solid">Pago Horas Extras</th>
                              <th style="border: 1px solid">Víaticos</th>
                              <th style="border: 1px solid">Pagos Extras</th>
                              <th style="border: 1px solid; min-width: 400px;">Motivo Pagos Extras</th>
                              <th style="border: 1px solid">Deducciones</th>
                              <th style="border: 1px solid; min-width: 400px;">Motivo Deducciones</th>
                              <th style="border: 1px solid; min-width: 400px;">Comentario</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% begin %>
                            <% @employee.payrole_details.where(role_id: @payrole.id).first.detail_lines.order(date: :asc).each do |line|  %>

                              <% disability_type = "" %>

                              <% if line.shift_name == "Incapacidad"

                                @employee.disabilities.order(:start_date).each do |last_disability_period|

                                  dates = (last_disability_period.start_date..last_disability_period.end_date).map(&:to_date)

                                  if dates && (dates.include? Date.strptime(line.date, '%m/%d/%Y')) && last_disability_period.institution == "CCSS"
                                    disability_type = " CCSS"
                                  elsif dates && (dates.include? Date.strptime(line.date, '%m/%d/%Y')) && last_disability_period.institution == "INS"
                                    disability_type = " INS"
                                  end
                                end
                              end %>

                              <tr>
                                <td style="border: 1px solid"><%= line.stall_name %></td>
                                <td style="border: 1px solid"><%= line.date.split("/")[1] + "/" + line.date.split("/")[0] + "/" + line.date.split("/")[2] %></td>
                                <td style="border: 1px solid; min-width: 175px;"><%= line.shift_name + disability_type %></td>
                                <td style="border: 1px solid"><%= line.substall %></td>
                                <td style="border: 1px solid"><%= line.hours.to_f.round(2) %></td>
                                <td style="border: 1px solid"><%= number_to_currency(line.salary.to_f.round(2), unit: '₡') %></td>
                                <td style="border: 1px solid"><%= number_to_currency(line.holiday.to_f.round(2), unit: '₡')  %></td>
                                <td style="border: 1px solid"><%= line.extra_hours.to_f.round(2) %></td>
                                <td style="border: 1px solid"><%= number_to_currency(line.extra_salary.to_f.round(2), unit: '₡') %></td>
                                <td style="border: 1px solid"><%= number_to_currency(line.viatical.to_f.round(2), unit: '₡') %></td>
                                <td style="border: 1px solid"><%= number_to_currency(line.extra_payment.to_f, unit: '₡') %></td>
                                <td style="border: 1px solid; min-width: 400px;"><%= line.extra_payment_reason %></td>
                                <td style="border: 1px solid"><%= number_to_currency(line.deductions.to_f, unit: '₡') %></td>
                                <td style="border: 1px solid; min-width: 400px;"><%= line.deductions_reason %></td>
                                <td style="border: 1px solid; min-width: 400px;"><%= line.comments %></td>
                              </tr>
                            <% end %>
                            <% rescue => ex %>
                              <% logger.error ex.message %>
                            <%end %>
                            <tr>
                              <td style="border: 1px solid">Total</td>
                              <td style="border: 1px solid"><%= @employee.payrole_details.where(role_id: @payrole.id).first.worked_days rescue nil %> días</td>
                              <td style="border: 1px solid; min-width: 175px;"></td>
                              <td style="border: 1px solid"></td>
                              <td style="border: 1px solid"></td>
                              <td style="border: 1px solid"></td>
                              <td style="border: 1px solid"></td>
                              <td style="border: 1px solid"><%= @employee.payrole_details.where(role_id: @payrole.id).first.extra_hours rescue nil %></td>
                              <td style="border: 1px solid"></td>
                              <td style="border: 1px solid"></td>
                              <td style="border: 1px solid"></td>
                              <td style="border: 1px solid"></td>
                              <td style="border: 1px solid"></td>
                              <td style="border: 1px solid"></td>
                              <td style="border: 1px solid"></td>
                            </tr>
                            <tr>
                              <td style="border: 1px solid"></td>
                              <td style="border: 1px solid"></td>
                              <td style="border: 1px solid"></td>
                              <td style="border: 1px solid"></td>
                              <td style="border: 1px solid"></td>
                              <td style="border: 1px solid"></td>
                              <td style="border: 1px solid"></td>
                              <td style="border: 1px solid"></td>
                              <td style="border: 1px solid"></td>
                              <td style="border: 1px solid"></td>
                              <td style="border: 1px solid"></td>
                              <td style="border: 1px solid; min-width: 400px;"></td>
                              <td style="border: 1px solid"></td>
                              <td style="border: 1px solid; min-width: 400px;"></td>
                              <td style="border: 1px solid; min-width: 400px;"></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div style="margin-left: 40px; margin-right: 40px; margin-bottom: 40px; text-align: left;">
                        <h3 class="row">Resumen de Pago:</h3>
                        <table class="" cellspacing="0">
                          <thead class="">
                          </thead>
                          <tbody>
                            <tr>

                              <% base_salary = @employee.payrole_details.where(role_id: @payrole.id).first.base_salary.to_f - @employee.payrole_details.where(role_id: @payrole.id).first.holidays %>

                              <th>Salario Base:</th>
                              <th><%= number_to_currency(base_salary, unit: '₡') rescue nil %></th>
                            </tr>
                            <tr>
                              <th>Horas Extras:</th>
                              <th><%= number_to_currency(@employee.payrole_details.where(role_id: @payrole.id).first.extra_salary, unit: '₡') rescue nil %></th>
                            </tr>
                             <tr>
                              <th>Víaticos:</th>
                              <th><%= number_to_currency(@employee.payrole_details.where(role_id: @payrole.id).first.viatical, unit: '₡') rescue nil %></th>
                            </tr>
                            <tr>
                              <th>Pagos Adicionales:</th>
                              <th><%= number_to_currency(@employee.payrole_details.where(role_id: @payrole.id).first.extra_payments, unit: '₡') rescue nil %></th>
                            </tr>

                            <tr>
                              <th>Feriados:</th>
                              <th><%= number_to_currency(@employee.payrole_details.where(role_id: @payrole.id).first.holidays, unit: '₡') rescue nil %></th>
                            </tr>

                            <tr>
                              <th>Salario Bruto:</th>
                              <th><%= number_to_currency(@employee.payrole_details.where(role_id: @payrole.id).first.gross_salary, unit: '₡') rescue nil %></th>
                            </tr>
                            <tr>
                              <th>Deducción CCSS:</th>
                              <th><%= number_to_currency(@employee.payrole_details.where(role_id: @payrole.id).first.ccss_deduction, unit: '₡') rescue nil %></th>
                            </tr>
                             <tr>
                              <th>Otras Deducciones:</th>
                              <th><%= number_to_currency(@employee.payrole_details.where(role_id: @payrole.id).first.deductions, unit: '₡') rescue nil %></th>
                            </tr>
                             <tr>
                              <th>Salario Neto:</th>
                              <th><%= number_to_currency(@employee.payrole_details.where(role_id: @payrole.id).first.net_salary, unit: '₡') rescue nil %></th>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div style="margin-left: 40px; margin-right: 40px; text-align: left;">
                        <h3>Movimientos Automáticos:</h3>
                          <% @employee.movements.each do |movement| %>

                          <% unless movement.end_date %>
                            <% movement.end_date = Time.now + 1.year %>
                          <% end %>

                            <% if (@payrole.start_date.to_date>= movement.start_date && @payrole.start_date.to_date <= movement.end_date) || (@payrole.end_date.to_date>= movement.start_date && @payrole.end_date.to_date <= movement.end_date) %>

                              <% if movement.way == 'Porcentaje' %>
                                <% amount = (@employee.payrole_details.where(role_id: @payrole.id).first.base_salary.to_f) * movement.amount / 100 %>
                              <% else %>
                                <% amount = movement.amount %>
                             <% end %>

                              <div id="" class="">
                                <table class="" cellspacing="0">
                                  <thead class="">
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <th><%= movement.comment %></th>
                                      <th><%= number_to_currency(amount, unit: '₡') %></th>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            <% end %>
                          <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <h3 style="min-height: 40px; text-align: center; padding-top: 10px;">Copyright © <%= Time.now.year %> PASECO . Todos los Derechos Reservados.</h3>
      </div>
      </div>
    </div>
  </body>
  <style type="text/css">

    th {
      min-width: 125px;
    }

    </style>
</html>