<div class="col-12 fields nested-fields text-center tbl_row">
  <div class="row">
    <div class="col-xl-2 col-lg-6 mt-2">
      <label for="">Contrataci贸n</label>
      <%= f.text_field :start_date, id: "date", placeholder: "dd / mm / aaaa", autocomplete: "off", class: "form-control", "data-date-format": 'dd/mm/yyyy', "data-provide": 'datepicker', "data-date-language": 'es' %>
      <label id="date_error"></label>
    </div>
    <div class="col-xl-2 col-lg-6 mt-2">
      <label for="">Finalizaci贸n</label>
      <%= f.text_field :end_date, id: "end_date", placeholder: "dd / mm / aaaa", autocomplete: "off", class: "form-control", "data-date-format": 'dd/mm/yyyy', "data-provide": 'datepicker', "data-date-language": 'es' %>
      <label id="end_date_error"></label>
    </div>
    <div class="col-xl-3 col-lg-6 mt-2">
      <label for="">Documento</label>
      <div class="input-group text-left" style="border: 1px solid #F2F2F2;">
        <div class="custom-file">
          <%= f.file_field :document, id: "file", title: "Seleccione un archivo", class: "custom-file-input"%>
          <label class="custom-file-label file-label" id="lebel-file" for="file">Cargar</label>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-6 mt-2">
      <label for="">Raz贸n</label>
      <%= f.text_field :reason_departure, id: "reason_departure", class: "form-control", placeholder: "Raz贸n de Salida" %>
      <label id="reason_departure_error"></label>
    </div>
    <div class="col-xl-1 col-lg-12 pt-md-5">
       <%= link_to_remove_association "", f, class: "fas fa-trash-alt", id: 'remove_link', style: "color: #000000" %>
    </div>
  </div>
</div>