<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>PASECO</title>
  </head>
  <body>
    <div class="container">
      <%= image_tag("logo.png", size: "200x50", class: "d-inline-block") %>
      <div class="d-inline-block text-center pull-right row mb-4">
	    <h6 class="font-weight-bold">Departamento de Recursos Humanos</h6><br>
	    <h5 class="font-weight-bold">BOLETA DE VACACIONES</h5><br>
		<div id="table" class="table-responsive">
	      <table class="table-striped table-sm" cellspacing="0">
	        <thead class="">
	          <tr><th class="pt-2 font-weight-bold" style="font-size: 18px;">FECHA</th></tr>
	        </thead>
	        <tbody>
	          <tr><th class="pt-2 font-weight-normal" style="font-size: 18px;"><%= @date %></th></tr>
	        </tbody>
	      </table>
	    </div>
	  </div>
      <div class="row text-center">
        <div id="table2" class="table-responsive">
	      <table class="table-striped table-sm" cellspacing="0">
	        <thead>
	          <tr>
	            <th class="pt-2 font-weight-bold" style="font-size: 18px; border-right: 1px solid;">Nombre del Solicitante</th>
	            <th class="pt-2 font-weight-bold" style="font-size: 18px;">Número de Cédula</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr>
	            <th class="pt-2 font-weight-normal" style="font-size: 18px;"><%= @employee_name %></th>
	            <th class="pt-2 font-weight-normal" style="font-size: 18px;"><%= @employee_identification %></th>
	          </tr>
	        </tbody>
	      </table>
	    </div>
     </div>
     <div class="row text-center">
       <div id="table3" class="table-responsive">
	     <table class="table-striped" cellspacing="0">
	       <thead class="">
	         <tr>
	           <th class="pt-2 font-weight-bold" style="font-size: 18px; border-right: 1px solid;">Cargo</th>
	           <th class="pt-2 font-weight-bold" style="font-size: 18px; border-right: 1px solid;">Fecha de Ingreso</th>
	           <th class="pt-2 font-weight-bold" style="font-size: 18px;">Puesto</th>
	         </tr>
	       </thead>
	       <tbody>
	         <tr>
	           <th class="pt-2 font-weight-normal" style="font-size: 18px;"><%= @area %></th>
	           <th class="pt-2 font-weight-normal" style="font-size: 18px;"><%= @entry_date %></th>
	           <th class="pt-2 font-weight-normal" style="font-size: 18px;"><%= @stall %></th>
	         </tr>
	       </tbody>
	     </table>
	   </div>
      </div><br>
      <div class="row text-center">
        <div id="table4" class="table-responsive">
	      <table class="table-striped table-sm" cellspacing="0">
	        <thead class="">
	          <tr>
	            <th class="pt-2 font-weight-normal font-weight-bold" style="font-size: 18px; width: 130px; border-right: 1px solid;">Periodo</th>
	            <th class="pt-2 font-weight-bold" style="font-size: 18px;">Concepto</th>
	            <th class="pt-2 font-weight-bold" style="font-size: 18px; width: 130px; border-right: 1px solid;">Totales</th>
	            <th class="pt-2 font-weight-bold" style="font-size: 18px; width: 130px; border-right: 1px solid;">Usados</th>
	            <th class="pt-2 font-weight-bold" style="font-size: 18px; width: 130px; border-right: 1px solid;">Solicitados</th>
	            <th class="pt-2 font-weight-bold" style="font-size: 18px; width: 130px;">Saldo</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr>
	            <th class="pt-2 font-weight-normal" style="font-size: 18px; width: 130px;"><%= @period %></th>
	            <th class="pt-2 font-weight-normal" style="font-size: 18px;">Vacaciones</th>
	            <th class="pt-2 font-weight-normal" style="font-size: 18px; width: 130px;"><%= @total_days %></th>
	            <th class="pt-2 font-weight-normal" style="font-size: 18px; width: 130px;"><%= @used_days %></th>
	            <th class="pt-2  font-weight-normal" style="font-size: 18px; width: 130px;"><%= @requested_days %></th>
	            <th class="pt-2 font-weight-normal" style="font-size: 18px; width: 130px;"><%= @avalaible_days %></th>
	          </tr>
	        </tbody>
	      </table>
	    </div>
     </div>
     <div class="row text-center">
       <div id="table5" class="table-responsive">
	     <table class="table-striped" cellspacing="0">
	       <thead class="">
	         <tr>
	           <th class="pt-2 font-weight-bold" style="font-size: 18px; width: 245px; border-right: 1px solid;">Inicio</th>
	           <th class="pt-2 font-weight-bold" style="font-size: 18px; border-right: 1px solid;">Fin</th>
	           <th class="pt-2 font-weight-bold" style="font-size: 18px; width: 389px;">Regreso</th>
	         </tr>
	       </thead>
	       <tbody>
	         <tr>
	           <th class="pt-2 font-weight-normal" style="font-size: 18px; width: 245px;"><%= @start_date %></th>
	           <th class="pt-2 font-weight-normal" style="font-size: 18px;"><%= @end_date %></th>
	           <th class="pt-2 font-weight-normal" style="font-size: 18px; width: 389px;"><%= (Date.parse(@end_date) + 1.days).strftime('%d/%m/%Y') %></th>
	         </tr>
	       </tbody>
	     </table>
	   </div>
      </div><br>
      <div class="row text-center">
       <div id="table6" class="table-responsive">
	     <table class="table-striped" cellspacing="0">
	       <thead class="">
	         <tr>
	           <th class="pt-2 font-weight-bold" style="font-size: 18px; width: 425px; border-right: 1px solid;">Firma del Solicitante</th>
	           <th class="pt-2 font-weight-bold" style="font-size: 18px;">Documento de Identidad</th>
	         </tr>
	       </thead>
	       <tbody>
	         <tr>
	           <th class="pt-2" style="font-size: 18px; height: 50px;"></th>
	           <th class="pt-2" style="font-size: 18px; height: 50px;"></th>
	         </tr>
	       </tbody>
	     </table>
	   </div>
      </div><br>
      <div class="row text-center">
       <div id="table7" class="table-responsive">
	     <table class="table-striped" cellspacing="0">
	       <thead class="">
	         <tr>
	           <th class="pt-2 font-weight-bold" style="font-size: 18px; width: 425px; border-right: 1px solid;">Jefe Inmediato</th>
	           <th class="pt-2 font-weight-bold" style="font-size: 18px;">Aprobado por Recursos Humanos</th>
	         </tr>
	       </thead>
	       <tbody>
	         <tr>
	           <th class="pt-2" style="font-size: 18px; height: 50px;"></th>
	           <th class="pt-2" style="font-size: 18px; height: 50px;"></th>
	         </tr>
	       </tbody>
	     </table>
	   </div>
      </div><br>
      <div class="row text-center">
       <div id="table8" class="table-responsive">
	     <table class="table-striped" cellspacing="0">
	       <thead class="">
	         <tr>
	           <th class="pt-2 font-weight-bold" style="font-size: 18px;">OBSERVACIONES</th>
	         </tr>
	       </thead>
	       <tbody>
	         <tr>
	           <th class="pt-2" style="font-size: 18px;">
	           	<p>El suscrito...Sin ninguna coacción de terceras personas, quedo conforme con respecto al pago de mis</p>
	           	<p>vacaciones correspondiente al periodo supra indicado. Por lo cual desde este momento que plasmo</p>
	           	<p>con mi firma, renuncio a cualquier acción legal presente o futura para la compensación</p>
	           	<p>o pago de este rubro.</p>
	           </th>
	         </tr>
	       </tbody>
	     </table>
	   </div>
      </div>
    </dic>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>

<style type="text/css">
 thead{
 	background-color: #00528a;
 	color: white;
 }

 table {
 	width: 100%;
 	border: 1px solid;
 }

th {
  height: 18px;
}
</style>