<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Hello, world!</title>
  </head>
  <body>
    <dic class="container">
      <div class="row">
        <div class="col-7">
        	<%= image_tag("logo.jpeg", size: "200x200", class: "ml-5") %>
        </div>
    	<div class="col-5 text-center">
    	  <h6>Departamento de Recursos Humanos</h6><br>
    	  <h5>BOLETA DE VACACIONES</h5><br>
    	  <div id="table" class="table-responsive">
	        <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
	          <thead class="thead-dark">
	            <tr>
	              <th class="pt-2" style="font-size: 20px;">FECHA</th>
	            </tr>
	          </thead>
	          <tbody>
                <tr>
                  <th class="pt-3" style="font-size: 16px;"><%= @date %></th>
                </tr>
	          </tbody>
	        </table>
	      </div>
    	</div>
      </div><br>
      <div class="row text-center">
        <div id="table2" class="table-responsive">
	      <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
	        <thead class="thead-dark">
	          <tr>
	            <th class="pt-2" style="font-size: 20px; width: 518px; border: 1px solid;">Nombre del Solicitante</th>
	            <th class="pt-2" style="font-size: 20px; border: 1px solid;">Número de Cédula</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr>
	            <th class="pt-3" style="font-size: 16px; width: 518px; border: 1px solid;"><%= @employee_name %></th>
	            <th class="pt-3" style="font-size: 16px; border: 1px solid;"><%= @employee_identification %></th>
	          </tr>
	        </tbody>
	      </table>
	    </div>
     </div>
     <div class="row text-center" style="margin-top: -16px;">
       <div id="table3" class="table-responsive">
	     <table class="table table-striped table-bordered" cellspacing="0" width="100%">
	       <thead class="">
	         <tr>
	           <th class="pt-2" style="font-size: 20px; width: 259px; border: 1px solid;">Cargo</th>
	           <th class="pt-2" style="font-size: 20px; border: 1px solid;">Fecha de Ingreso</th>
	           <th class="pt-2" style="font-size: 20px; width: 259px; border: 1px solid;">Puesto</th>
	         </tr>
	       </thead>
	       <tbody>
	         <tr>
	           <th class="pt-3" style="font-size: 16px; width: 259px; border: 1px solid;"><%= @area %></th>
	           <th class="pt-3" style="font-size: 16px; border: 1px solid;"><%= @entry_date %></th>
	           <th class="pt-3" style="font-size: 16px; width: 259px; border: 1px solid;"><%= @position %></th>
	         </tr>
	       </tbody>
	     </table>
	   </div>
      </div>
      <div class="row text-center">
        <div id="table2" class="table-responsive">
	      <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
	        <thead class="thead-dark">
	          <tr>
	            <th class="pt-2" style="font-size: 20px; width: 130px; border: 1px solid;">Periodo</th>
	            <th class="pt-2" style="font-size: 20px; border: 1px solid;">Concepto</th>
	            <th class="pt-2" style="font-size: 20px; width: 130px; border: 1px solid;">Totales</th>
	            <th class="pt-2" style="font-size: 20px; width: 130px; border: 1px solid;">Usados</th>
	            <th class="pt-2" style="font-size: 20px; width: 130px; border: 1px solid;">Solicidatos</th>
	            <th class="pt-2" style="font-size: 20px; width: 130px; border: 1px solid;">Saldo</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr>
	            <th class="pt-2" style="font-size: 16px; width: 130px; border: 1px solid;"><%= @period %></th>
	            <th class="pt-2" style="font-size: 16px; border: 1px solid;">Vacaciones</th>
	            <th class="pt-2" style="font-size: 16px; width: 130px; border: 1px solid;"><%= @total_days %></th>
	            <th class="pt-2" style="font-size: 16px; width: 130px; border: 1px solid;"><%= @used_days %></th>
	            <th class="pt-2" style="font-size: 16px; width: 130px; border: 1px solid;"><%= @requested_days %></th>
	            <th class="pt-2" style="font-size: 16px; width: 130px; border: 1px solid;"><%= @avalaible_days %></th>
	          </tr>
	        </tbody>
	      </table>
	    </div>
     </div>
     <div class="row text-center" style="margin-top: -16px;">
       <div id="table3" class="table-responsive">
	     <table class="table table-striped table-bordered" cellspacing="0" width="100%">
	       <thead class="">
	         <tr>
	           <th class="pt-2" style="font-size: 20px; width: 245px; border: 1px solid;">Inicio</th>
	           <th class="pt-2" style="font-size: 20px; border: 1px solid;">Fin</th>
	           <th class="pt-2" style="font-size: 20px; width: 389px; border: 1px solid;">Regreso</th>
	         </tr>
	       </thead>
	       <tbody>
	         <tr>
	           <th class="pt-3" style="font-size: 16px; width: 245px; border: 1px solid;"><%= @start_date %></th>
	           <th class="pt-3" style="font-size: 16px; border: 1px solid;"><%= @end_date %></th>
	           <th class="pt-3" style="font-size: 16px; width: 389px; border: 1px solid;"><%= (Date.parse(@end_date) + 1.days).strftime('%d/%m/%Y') %></th>
	         </tr>
	       </tbody>
	     </table>
	   </div>
      </div>
      <div class="row text-center">
       <div id="table3" class="table-responsive">
	     <table class="table table-striped table-bordered" cellspacing="0" width="100%">
	       <thead class="thead-dark">
	         <tr>
	           <th class="pt-2" style="font-size: 20px; width: 425px; border: 1px solid;">Firma del Solicitante</th>
	           <th class="pt-2" style="font-size: 20px; border: 1px solid;">Documento de Identidad</th>
	         </tr>
	       </thead>
	       <tbody>
	         <tr>
	           <th class="pt-3" style="font-size: 16px; border: 1px solid;"></th>
	           <th class="pt-3" style="font-size: 16px; border: 1px solid;"></th>
	         </tr>
	       </tbody>
	     </table>
	   </div>
      </div>
      <div class="row text-center">
       <div id="table3" class="table-responsive">
	     <table class="table table-striped table-bordered" cellspacing="0" width="100%">
	       <thead class="thead-dark">
	         <tr>
	           <th class="pt-2" style="font-size: 20px; width: 425px; border: 1px solid;">Jefe Inmediato</th>
	           <th class="pt-2" style="font-size: 20px; border: 1px solid;">Aprobado por Recursos Humanos</th>
	         </tr>
	       </thead>
	       <tbody>
	         <tr>
	           <th class="pt-3" style="font-size: 16px; border: 1px solid;"></th>
	           <th class="pt-3" style="font-size: 16px; border: 1px solid;"></th>
	         </tr>
	       </tbody>
	     </table>
	   </div>
      </div>
      <div class="row text-center">
       <div id="table3" class="table-responsive">
	     <table class="table table-striped table-bordered" cellspacing="0" width="100%">
	       <thead class="thead-dark">
	         <tr>
	           <th class="pt-2" style="font-size: 20px; border: 1px solid;">OBSERVACIONES</th>
	         </tr>
	       </thead>
	       <tbody>
	         <tr>
	           <th class="pt-3" style="font-size: 16px; border: 1px solid;">
	           	<p>El suscrito...Sin ninguna coacción de terceras personas, quedo conforme con respecto al pago de mis vacaciones</p>
	           	<p>correspondiente al periodo supra indicado. Por lo cual desde este momento que plasmo con mi firma, renuncio a </p>
	           	<p>cualquier acción legal presente o futura para la compensación o pago de este rubro.</p>
	           </th>
	         </tr>
	       </tbody>
	     </table>
	   </div>
      </div>
    </dic>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>

<style type="text/css">

	th {
		height: 20px;
	}
</style>