<div class="row form_fieldset">
  <div  class="col-12 mt-4 p-3">
    <legend>Información General</legend>
  </div>
  <div class="col-xl-4 col-lg-6 mb-2 mt-2">
    <label for="">Nombre</label>
    <%= form.text_field :name, id: "name", class: "form-control", placeholder: "Charlie 01" %>
    <label id="name_error"></label>
  </div>
  <div class="col-xl-4 col-lg-6 mb-2 mt-2">
    <label for="">Descripción</label>
    <%= form.text_field :description, class: "form-control", placeholder: "Descripción" %>
  </div>
  <div class="col-xl-4 col-lg-6 mb-2 mt-2">
    <label for="">Cliente</label>
    <%= form.collection_select :customer_id, Customer.where(active: true).order(tradename: :asc), :id, :tradename, options = {include_blank: 'Seleccione un cliente'}, html_options = {class: "form-control", id: "customer", required: true, oninvalid: "setCustomValidity('Campo Requerido')", oninput: "setCustomValidity('')", title: "Seleccione el cliente correspondiente al puesto"}%>
    <label id="customer_error"></label>
  </div>
  <div class="col-xl-4 col-lg-6 mb-2 mt-2">
    <label for="">Cotización</label>
    <%= form.collection_select :quote_id, Quote.order(number: :asc), :id, :institution, options = {include_blank: 'Seleccione la cotización del puesto'}, html_options = {class: "form-control", id: "quote", required: true, oninvalid: "setCustomValidity('Campo Requerido')", oninput: "setCustomValidity('')", title: "Seleccione la cotización correspondiente al puesto"}%>
    <label id="quote_error"></label>
  </div>
  <div class="col-xl-4 col-lg-6 mb-2 mt-2">
    <label for="">Tipo de Puesto</label>
    <%= form.collection_select :type_id, Type.all.order(name: :asc), :id, :name, options = {include_blank: 'Seleccione un tipo de puesto'}, html_options = {class: "form-control", id: "type", required: true, oninvalid: "setCustomValidity('Campo Requerido')", oninput: "setCustomValidity('')", title: "Seleccione el tipo de puesto"}%>
    <label id="type_error"></label>
  </div>
  <div class="col-xl-4 col-lg-6 mb-2 mt-2">
    <label>Provincia</label>
    <%= form.collection_select :province, Address.select('province').group('province').order(province: :asc), :province, :province, options = {include_blank: 'Seleccione una provincia'}, html_options = {class: "form-control", id: "province"} %>
  </div>
  <div class="col-xl-4 col-lg-6 mb-2 mt-2">
    <label id="canton_label" data-cantons="<%= Address.select('province', 'canton').group('province', 'canton').order(canton: :asc).to_json %>">Cantón</label>
    <%= form.collection_select :canton, Address.select('canton').group('canton').order(canton: :asc), :canton, :canton, options = {include_blank: 'Seleccione un cantón'}, html_options = {class: "form-control", id: "canton"} %>
  </div>
  <div class="col-xl-4 col-lg-6 mt-2">
    <label id="district_label" data-addresses="<%= Address.all.order(district: :asc).to_json %>">Distrito</label>
    <%= form.collection_select :district, Address.all.order(district: :asc), :district, :district, options = {include_blank: 'Seleccione un distrito'}, html_options = {class: "form-control", id: "district"} %>
  </div>
  <div class="col-xl-4 col-lg-6 mt-2">
    <label for="">Otras Señas</label>
    <%= form.text_field :other, class: "form-control", placeholder: "Otras Señas" %>
  </div>
  <div class="col-xl-4 col-lg-6 mb-2 mt-2">
  <label for="">Activo:</label><br>
    <%= form.check_box :active %>
  </div>
  <div class="col-xl-4 col-lg-6 mb-2 mt-2">
  <label for="">Enviar Boletas de Pago:</label><br>
    <%= form.check_box :send_payslips %>
  </div>
</div>
<div class="row form_fieldset">
  <div  class="col-12 mt-4 p-3">
    <legend>Información Extra</legend>
  </div>
  <div class="col-xl-4 col-lg-6 mb-2 mt-2">
    <label for="">Viático Diario</label>
    <%= form.text_field :daily_viatical, id: "viatical", class: "form-control", placeholder: "500" %>
    <label id="viatical_error"></label>
  </div>
  <div class="col-xl-4 col-lg-6 mb-2 mt-2">
    <label for="">Turno Extra</label>
    <%= form.text_field :extra_shift, class: "form-control", placeholder: "10500" %>
  </div>
  <div class="col-xl-4 col-lg-6 mb-2 mt-2">
    <label for="">Cantidad de Puestos</label><br>
    <%= form.select :substalls, ((0..20).map {|i| [i,i] }), {}, {class: "form-control", id: "substalls"} %>
    <label id="substalls_error"></label>
  </div>
</div>
<script type="text/javascript">
  onInput("name");
  onInput("viatical");
  onInput("substalls");
</script>