<div class="row form_fieldset">
  <div  class="col-12 mt-4 p-3">
    <legend>Información General</legend>
  </div>
  <div class="col-xl-4 col-lg-6 mb-2 mt-2">
    <label for="">Nombre</label>
    <%= form.text_field :name, id: "name", class: "form-control", placeholder: "Charlie 01" %>
    <label id="name_error"></label>
  </div>
  <div class="col-xl-4 col-lg-6 mb-2 mt-2">
    <label for="">Descripción</label>
    <%= form.text_field :description, class: "form-control", placeholder: "Descripción" %>
  </div>
  <div class="col-xl-4 col-lg-6 mb-2 mt-2">
    <%= form.collection_select :customer_id, Customer.where("customers.active = true OR customers.id ="+@stall.customer_id.to_s).order(tradename: :asc), :id, :tradename, options = {include_blank: 'Seleccione un cliente'}, html_options = {class: "form-control", id: "customer"}%>
    <label id="customer_error"></label>
  </div>
  <div class="col-xl-4 col-lg-6 mb-2 mt-2">
    <label for="">Tipo de Pago</label>
    <%= form.collection_select :payment_id, Payment.all.order(name: :asc), :id, :name, options = {include_blank: 'Seleccione un tipo de pago'}, html_options = {class: "form-control", id: "payment"}%>
    <label id="payment_error"></label>
  </div>
  <div class="col-xl-4 col-lg-6 mb-2 mt-2">
    <label for="">Salario Mínimo Día</label>
    <%= form.text_field :min_salary, id: "min_salary", class: "form-control", placeholder: "323028" %>
    <label id="min_salary_error"></label>
  </div>
  <div class="col-xl-4 col-lg-6 mb-2 mt-2">
    <label for="">Salario Mínimo Noche</label>
    <%= form.text_field :night_min_salary, id: "night_min_salary", class: "form-control", placeholder: "323028" %>
    <label id="night_min_salary_error"></label>
  </div>
  <div class="col-xl-4 col-lg-6 mb-2 mt-2">
    <label for="">Provincia</label>
    <%= form.text_field :province, class: "form-control", placeholder: "Provincia" %>
  </div>
  <div class="col-xl-4 col-lg-6 mb-2 mt-2">
    <label for="">Cantón</label>
    <%= form.text_field :canton, class: "form-control", placeholder: "Cantón" %>
  </div>
  <div class="col-xl-4 col-lg-6 mt-2">
    <label for="">Distrito</label>
    <%= form.text_field :district, class: "form-control", placeholder: "Distrito" %>
  </div>
  <div class="col-xl-4 col-lg-6 mt-2">
    <label for="">Otras Señas</label>
    <%= form.text_field :other, class: "form-control", placeholder: "Otras Señas" %>
  </div>
  <div class="col-xl-4 col-lg-6 mb-2 mt-2">
  <label for="">Activo:</label><br>
    <%= form.check_box :active %>
  </div>
</div>
<div class="row form_fieldset">
  <div  class="col-12 mt-4 p-3">
    <legend>Información Extra</legend>
  </div>
  <div class="col-xl-4 col-lg-6 mb-2 mt-2">
    <label for="">Viático Diario</label>
    <%= form.text_field :daily_viatical, id: "viatical", class: "form-control", placeholder: "500" %>
    <label id="viatical_error"></label>
  </div>
  <div class="col-xl-4 col-lg-6 mb-2 mt-2">
    <label for="">Turno Extra</label>
    <%= form.text_field :extra_shift, class: "form-control", placeholder: "10500" %>
  </div>
  <div class="col-xl-4 col-lg-6 mb-2 mt-2">
    <label for="">Cantidad de Puestos</label><br>
    <%= form.select :substalls, ((0..20).map {|i| [i,i] }), {}, {class: "form-control", id: "substalls"} %>
    <label id="substalls_error"></label>
  </div>
</div>
<script type="text/javascript">
  onInput("name");
  onInput("customer");
  onInput("payment");
  onInput("min_salary");
  onInput("viatical");
  onInput("substalls");
</script>