<div class="row justify-content-center">
  <div class="col-12">
    <p id="notice"><%= notice %></p>
    <h2>Información del Cliente</h2><br>
  </div>
</div>

<div class="row form_fieldset">
  <div  class="col-12 mt-4 p-3">
    <legend>Información General</legend>
  </div>
  <div class="col-md-4 col-sm-6  mb-2 mt-2">
  	<strong>Razón Social:</strong>
    <p><%= @customer.business_name %></p>
  </div>
  <div class="col-md-4 col-sm-6 mb-2 mt-2">
    <strong>Nombre Comercial:</strong>
    <p><%= @customer.tradename %></p>
  </div>
  <div class="col-md-4 col-sm-6 mb-2 mt-2">
    <strong>Cédula Jurídica:</strong>
    <p><%= @customer.legal_document %></p>
  </div>
  <div class="col-md-4 col-sm-6 mb-2 mt-2">
    <strong>Representante Legal:</strong>
    <p><%= @customer.representative_name %></p>
  </div>
  <div class="col-md-4 col-sm-6 mb-2 mt-2">
    <strong>Cédula del Representante:</strong>
    <p><%= @customer.representative_id %></p>
  </div>
</div>

<div class="row form_fieldset mb-2">
  <div  class="col-12 mt-4 p-3">
    <legend>Información de Contacto</legend>
  </div>
  <div class="col-md-4 col-sm-6 mb-2 mt-2">
    <strong>Contacto:</strong>
    <p><%= @customer.contact %></p>
  </div>
  <div class="col-md-4 col-sm-6 mb-2 mt-2">
    <strong>Email:</strong>
    <p><%= @customer.email %></p>
  </div>
  <div class="col-md-4 col-sm-6 mb-2 mt-2">
    <strong>Email Adicional:</strong>
    <p><%= @customer.email_1 %></p>
  </div>
  <div class="col-md-4 col-sm-6 mb-2 mt-2">
    <strong>Email Adicional:</strong>
    <p><%= @customer.email_2 %></p>
  </div>
  <div class="col-md-4 col-sm-6 mb-2 mt-2">
    <strong>Teléfono:</strong>
    <p><%= @customer.phone_number %></p>
  </div>
  <div class="col-md-4 col-sm-6 mt-2">
    <strong>Teléfono Adicional:</strong>
    <p><%= @customer.phone_number_1 %></p>
  </div>
</div>

<div class="row form_fieldset mb-2">
  <div  class="col-12 mt-4 p-3">
    <legend>Información Financiera</legend>
  </div>
  <div class="col-md-4 col-sm-6 mb-2 mt-2">
    <strong>Método de Pago:</strong>
    <p><%= @customer.payment_method %></p>
  </div>
  <div class="col-md-4 col-sm-6 mb-2 mt-2">
    <strong>Condiciones de Pago:</strong>
    <p><%= @customer.payment_conditions %></p>
  </div>
</div>

<div class="row form_fieldset">
  <div  class="col-12 mt-4 p-3">
    <legend>Historial de Contrataciones</legend>
  </div>
  <% if @customer.entries %>
    <% @customer.entries.each do  |entry| %>
      <div class="col-md-3 col-sm-6 mt-2">
        <strong>Fecha de Contratación:</strong>
        <p><%= entry.start_date %></p>
      </div>
      <div class="col-md-3 col-sm-6 mt-2">
        <strong>Fecha de Finalización:</strong>
        <p><%= entry.end_date %></p>
      </div>
      <div class="col-md-3 col-sm-6 mt-2">
        <strong>Documento:</strong><br>
        <a href="<%= entry.document_url if entry.document? %>" target="_blank" >Click Aquí</a>
      </div>
      <div class="col-md-3 col-sm-6 mt-2">
        <strong>Motivo de Salida:</strong>
        <p><%= entry.reason_departure %></p>
      </div>
    <% end %>
  <% end %>
</div>

<%= link_to 'Editar', admin_edit_inactive_customer_path(@customer) %> |
<%= link_to 'Atrás', admin_inactive_customers_path %>