<div class="card">
  <div class="card-body">
    <div class="row form_fieldset">
      <div  class="col-12 mt-4 p-3">
        <legend>Información General</legend>
      </div>
      <div class="col-xl-4 col-lg-6 mb-2 mt-2">
        <label for="">Razón Social</label>
        <%= form.text_field :business_name, id: "business_name", class: "form-control", placeholder: "Razón Social" %>
        <label id="business_name_error"></label>
      </div>
      <div class="col-xl-4 col-lg-6 mb-2 mt-2">
        <label for="">Nombre Comercial</label>
        <%= form.text_field :tradename, id: "tradename", class: "form-control", placeholder: "Nombre Comercial" %>
        <label id="tradename_error"></label>
      </div>
      <div class="col-xl-4 col-lg-6 mb-2 mt-2">
        <label for="">Cédula Jurídica:</label>
        <%= form.text_field :legal_document, id: "legal_document", class: "form-control", placeholder: "Cédula Jurídica" %>
        <label id="legal_document_error"></label>
      </div>
      <div class="col-xl-4 col-lg-6 mb-2 mt-2">
        <label for="">Representante Legal:</label>
        <%= form.text_field :representative_name, id: "representative_name", class: "form-control", placeholder: "Representante Legal" %>
        <label id="representative_name_error"></label>
      </div>
      <div class="col-xl-4 col-lg-6 mb-2 mt-2">
        <label for="">Cédula del Representante</label>
        <%= form.text_field :representative_id, id: "representative_id", class: "form-control", placeholder: "Cédula del Representante" %>
        <label id="representative_id_error"></label>
      </div>
      <div class="col-xl-4 col-lg-6 mb-2 mt-2">
        <label for="">Activo:</label><br>
        <%= form.check_box :active %>
      </div>
    </div>

    <div class="row form_fieldset mb-2">
      <div  class="col-12 mt-4 p-3">
        <legend>Información de Contacto</legend>
      </div>
      <div class="col-xl-4 col-lg-6 mb-2 mt-2">
        <label for="">Contacto</label>
        <%= form.text_field :contact, id: "contact", class: "form-control", placeholder: "Contacto" %>
        <label id="contact_error"></label>
      </div>
      <div class="col-xl-4 col-lg-6 mb-2 mt-2">
        <label for="">Email:</label>
        <%= form.email_field :email, id: "email", class: "form-control", placeholder: "Correo Electrónico" %>
        <label id="email_error"></label>
      </div>
      <div class="col-xl-4 col-lg-6 mb-2 mt-2">
        <label for="">Email Adicional:</label>
        <%= form.email_field :email_1, class: "form-control", placeholder: "Correo Electrónico Adicional" %>
      </div>
      <div class="col-xl-4 col-lg-6 mb-2 mt-2">
        <label for="">Email Adicional:</label>
        <%= form.email_field :email_2, class: "form-control", placeholder: "Correo Electrónico Adicional" %>
      </div>
      <div class="col-xl-4 col-lg-6 mb-2 mt-2">
        <label for="">Teléfono:</label>
        <%= form.text_field :phone_number, id: "phone_number", class: "form-control", placeholder: "Teléfono" %>
        <label id="phone_number_error"></label>
      </div>
      <div class="col-xl-4 col-lg-6 mt-2">
        <label for="">Teléfono Adicional:</label>
        <%= form.text_field :phone_number_1, class: "form-control", placeholder: "Teléfono Adicional" %>
      </div>
    </div>

    <div class="row form_fieldset mb-2">
      <div  class="col-12 mt-4 p-3">
        <legend>Información Financiera</legend>
      </div>
      <div class="col-lg-6 mb-2 mt-2">
        <label for="">Método de Pago</label>
        <%= form.text_field :payment_method, class: "form-control", placeholder: "Método de Pago" %>
      </div>
      <div class="col-lg-6 mb-2 mt-2">
        <label for="">Condiciones del Pago:</label>
        <%= form.text_field :payment_conditions, class: "form-control", placeholder: "Condiciones de Pago" %>
      </div>
    </div>

    <div class="form_fieldset mb-2">
      <div  class="col-12 mt-4 p-3">
        <legend>Contrataciones</legend>
      </div>
      <div id="entries">
        <%= form.fields_for :entries do |entry| %>
          <%= render 'admin/customers/entry_fields', f: entry %>
        <%end%>
        <div class="col-12 text-center p-2 tbl_footer">
          <%= link_to_add_association ' + Agregar Linea', form, :entries, data: { association_insertion_mode: '.entries.fields', partial: 'entry_fields'}, class: 'btn add_btn', id: "add_link" %>
        </div>
      </div>
    </div>
    
    <%= form.submit "Guardar", id: 'btn_submit', class: "btn btn-success mt-4" %>
    <%= link_to('Cancelar', admin_customers_path, class: 'btn btn-light ml-sm-3 mt-4')%>
  </div>
</div>