<div class="card">
  <div class="card-body">
    <div class="row form_fieldset">
      <div  class="col-12 mt-4 p-3">
        <legend>Información General</legend>
      </div>
      <div class="col-xl-4 col-lg-6 mb-2 mt-2">
        <label for="">Razón Social</label>
        <%= form.text_field :business_name, id: "business_name", class: "form-control", placeholder: "Razón Social" %>
        <label id="business_name_error"></label>
      </div>
      <div class="col-xl-4 col-lg-6 mb-2 mt-2">
        <label for="">Nombre Comercial</label>
        <%= form.text_field :tradename, id: "tradename", class: "form-control", placeholder: "Nombre Comercial" %>
        <label id="tradename_error"></label>
      </div>
      <div class="col-xl-4 col-lg-6 mb-2 mt-2">
        <label for="">Cédula Jurídica:</label>
        <%= form.text_field :legal_document, id: "legal_document", class: "form-control", placeholder: "Cédula Jurídica" %>
        <label id="legal_document_error"></label>
      </div>
      <div class="col-xl-4 col-lg-6 mb-2 mt-2">
        <label for="">Representante Legal:</label>
        <%= form.text_field :representative_name, id: "representative_name", class: "form-control", placeholder: "Representante Legal" %>
        <label id="representative_name_error"></label>
      </div>
      <div class="col-xl-4 col-lg-6 mb-2 mt-2">
        <label for="">Cédula del Representante</label>
        <%= form.text_field :representative_id, id: "representative_id", class: "form-control", placeholder: "Cédula del Representante" %>
        <label id="representative_id_error"></label>
      </div>
      <div class="col-xl-4 col-lg-6 mt-2">
        <label for="">Fecha de Contratación</label>
        <%= form.text_field :start_date, id: "date", placeholder: "dd / mm / aaaa", autocomplete: "off", class: "form-control", "data-date-format": 'dd/mm/yyyy', "data-provide": 'datepicker' %>
        <label id="date_error"></label>
      </div>
      <div class="col-xl-4 col-lg-6 mt-2">
        <label for="">Fecha de Finalización</label>
        <%= form.text_field :end_date, id: "end_date", placeholder: "dd / mm / aaaa", autocomplete: "off", class: "form-control", "data-date-format": 'dd/mm/yyyy', "data-provide": 'datepicker' %>
        <label id="end_date_error"></label>
      </div>
      <div class="col-xl-4 col-lg-6 mt-2">
        <label for="">Documento</label>
        <div class="input-group">
          <div class="custom-file">
            <%= form.file_field :document, id: "inputGroupFile01", class: "custom-file-input"%>
            <label class="custom-file-label" for="inputGroupFile01">Seleccione un archivo</label>
          </div>
        </div>
      </div>
    </div>

    <div class="row form_fieldset mb-2">
      <div  class="col-12 mt-4 p-3">
        <legend>Información de Contacto</legend>
      </div>
      <div class="col-xl-4 col-lg-6 mb-2 mt-2">
        <label for="">Contacto</label>
        <%= form.text_field :contact, id: "contact", class: "form-control", placeholder: "Contacto" %>
        <label id="contact_error"></label>
      </div>
      <div class="col-xl-4 col-lg-6 mb-2 mt-2">
        <label for="">Email:</label>
        <%= form.email_field :email, id: "email", class: "form-control", placeholder: "Correo Electrónico" %>
        <label id="email_error"></label>
      </div>
      <div class="col-xl-4 col-lg-6 mb-2 mt-2">
        <label for="">Email Adicional:</label>
        <%= form.email_field :email_1, class: "form-control", placeholder: "Correo Electrónico Adicional" %>
      </div>
      <div class="col-xl-4 col-lg-6 mb-2 mt-2">
        <label for="">Email Adicional:</label>
        <%= form.email_field :email_2, class: "form-control", placeholder: "Correo Electrónico Adicional" %>
      </div>
      <div class="col-xl-4 col-lg-6 mb-2 mt-2">
        <label for="">Teléfono:</label>
        <%= form.text_field :phone_number, id: "phone_number", class: "form-control", placeholder: "Teléfono" %>
        <label id="phone_number_error"></label>
      </div>
      <div class="col-xl-4 col-lg-6 mt-2">
        <label for="">Teléfono Adicional:</label>
        <%= form.text_field :phone_number_1, class: "form-control", placeholder: "Teléfono Adicional" %>
      </div>
    </div>

    <div class="row form_fieldset mb-2">
      <div  class="col-12 mt-4 p-3">
        <legend>Información Financiera</legend>
      </div>
      <div class="col-lg-6 mb-2 mt-2">
        <label for="">Método de Pago</label>
        <%= form.text_field :payment_method, class: "form-control", placeholder: "Método de Pago" %>
      </div>
      <div class="col-lg-6 mb-2 mt-2">
        <label for="">Condiciones del Pago:</label>
        <%= form.text_field :payment_conditions, class: "form-control", placeholder: "Condiciones de Pago" %>
      </div>
    </div>
    
    <%= form.submit "Guardar", id: 'btn_submit', class: "btn btn-success mt-4" %>
    <%= link_to('Cancelar', admin_customers_path, class: 'btn btn-light ml-sm-3 mt-4')%>
  </div>
</div>
<script type="text/javascript">
  onInput("business_name");
  onInput("tradename");
  onInput("legal_document");
  onInput("representative_name");
  onInput("representative_id");
  onInput("date");
  onInput("end_date");
  onInput("contact");
  onInput("email");
  onInput("phone_number");
</script>