<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Business name:</strong>
  <%= @customer.business_name %>
</p>

<p>
  <strong>Tradename:</strong>
  <%= @customer.tradename %>
</p>

<p>
  <strong>Representativr:</strong>
  <%= @customer.representativr_id %>
</p>

<p>
  <strong>Representative name:</strong>
  <%= @customer.representative_name %>
</p>

<p>
  <strong>Legal document:</strong>
  <%= @customer.legal_document %>
</p>

<p>
  <strong>Legal document:</strong>
  <%= @customer.legal_document %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @customer.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @customer.contact %>
</p>

<p>
  <strong>Payment method:</strong>
  <%= @customer.payment_method %>
</p>

<p>
  <strong>Payment conditions:</strong>
  <%= @customer.payment_conditions %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
