<div class="row justify-content-center">
  <div class="col-12">
    <p id="notice"><%= notice %></p>
    <h2>Información del Cliente</h2><br>
  </div>
</div>

<div class="row form_fieldset">
  <div class="col-sm-6  mb-2 mt-2">
  	<strong>Cliente:</strong>
    <p><%= @cost_center.customer.tradename %></p>
  </div>
  <div class="col-sm-6 mb-2 mt-2">
    <strong>Nombre:</strong>
    <p><%= @cost_center.name %></p>
  </div>
</div>


<%= link_to 'Editar', edit_admin_cost_center_path(@cost_center) %> |
<%= link_to 'Atrás', admin_cost_centers_path %>
