<div class="modal" id="addPayment<%= form.object.id %>" data-lines="<%= @role.role_lines.where(stall_id: @stall.id).to_json %>" data-requirements="<%= @stall.requirements.to_json(include: :shift) %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded">
      <div class="modal-header rounded-top">
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 mb-2">
            <p class="font-weight-bold text-left">Horas Trabajadas</p>
            <%= form.text_field :hours, class: "form-control hours", placeholder: "3", id: "hours_"+form.object.id.to_s, onKeyUp: "hoursValidation("+form.object.id.to_s+")"  %>
          </div>
          <div class="col-12 mb-2">
            <p class="font-weight-bold text-left">Justificación de Requerimiento</p>
            <%= form.text_field :requirement_justification, class: "form-control hours", placeholder: "4 horas extra por cubrimiento del libre de Juan", id: "requirement_justification_"+form.object.id.to_s  %>
          </div>
          <div class="col-12 mb-2">
            <p class="font-weight-bold text-left">Pagos Extras</p>
            <%= form.text_field :extra_payments, class: "form-control", placeholder: "10700" %>
          </div>
          <div class="col-12 mb-2">
            <p class="font-weight-bold text-left">PE Descripción</p>
            <%= form.text_field :extra_payments_description, class: "form-control", placeholder: "Pago extra por día libre trabajado" %>
          </div>
          <div class="col-12 mb-2">
            <p class="font-weight-bold text-left">Deducciones</p>
            <%= form.text_field :deductions, class: "form-control", placeholder: "15000" %>
          </div>
          <div class="col-12 mb-2">
            <p class="font-weight-bold text-left">Descripción</p>
            <%= form.text_field :deductions_description, class: "form-control", placeholder: "Cobro por uniforme perdido" %>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <% if current_user.admin? %>
          <button type="button" class="btn btn-success mb-4" data-dismiss="modal" onclick="saveModalData('<%= @role.id %>', '<%= @stall.id %>', '<%= @employee.id %>')">Hecho</button>
        <% else %>
          <button type="button" class="btn btn-success mb-4" data-dismiss="modal" onclick="changeIconColor()">Hecho</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  changeIconColor();
</script>