<div class="modal" id="addPayment<%= form.object.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded">
      <div class="modal-header rounded-top">
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 mb-2">
            <p class="font-weight-bold text-left">Horas Trabajadas</p>
            <%= form.text_field :hours, class: "form-control hours", placeholder: "3" %>
          </div>
          <div class="col-12 mb-2">
            <p class="font-weight-bold text-left">Pagos Extras</p>
            <%= form.text_field :extra_payments, class: "form-control", placeholder: "10700" %>
          </div>
          <div class="col-12 mb-2">
            <p class="font-weight-bold text-left">PE Descripción</p>
            <%= form.text_field :extra_payments_description, class: "form-control", placeholder: "Pago extra por día libre trabajado" %>
          </div>
          <div class="col-12 mb-2">
            <p class="font-weight-bold text-left">Deducciones</p>
            <%= form.text_field :deductions, class: "form-control", placeholder: "15000" %>
          </div>
          <div class="col-12 mb-2">
            <p class="font-weight-bold text-left">Descripción</p>
            <%= form.text_field :deductions_description, class: "form-control", placeholder: "Cobro por uniforme perdido" %>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-success mb-4" data-dismiss="modal" onclick="changeIconColor()">Hecho</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  changeIconColor();
</script>