<div class="card">
  <div class="card-body">
    <div class="row mt-1 d-none d-md-flex text-center" style="">
      <div class="th col-12 col-md-1">
        <p class="text-uppercase">#</p>
      </div>
      <div class="th col-12 col-md-4">
        <p class="text-uppercase">Nombre</p>
      </div>
      <div class="th col-12 col-md-2">
        <p class="text-uppercase d-inline">Inicio</p>
      </div>
      <div class="th col-12 col-md-2">
        <p class="text-uppercase">Finalización</p>
      </div>
      <div class="th col-12 col-md-3">
        <p class="text-uppercase">Acciones</p>
      </div>
    </div>
    <% if @payroles%>
      <% @payroles.each_with_index do |payrole, index| %>
        <div class="row tb_body">
          <div class="td col-12 col-md-1  pt-md-3">
            <p class="d-md-none font-weight-bold">Número:</p>
            <p class="text-md-center mt-2"><%= index + 1 %></p>
          </div>
          <div class="td col-12 col-md-4  pt-md-3">
            <p class="d-md-none font-weight-bold">Nombre:</p>
            <p class="text-md-center mt-2"><%= link_to(payrole.name, admin_payrole_path(payrole), class:'', title: 'Ver Planilla Pasada') %></p>
          </div>
          <div class="th col-12 col-md-2 pt-md-3">
            <p class="d-md-none font-weight-bold">Fecha de Inicio:</p>
            <p class="text-md-center mt-2"><%= payrole.start_date %></p>
          </div>
          <div class="th col-12 col-md-2 pt-md-3">
            <p class="d-md-none font-weight-bold">Fecha de Finalización:</p>
            <p class="text-md-center mt-2"><%= payrole.end_date %></p>
          </div>
          <div class="th text-center col-md-3">
            <div class="mt-2 mb-2 btn-group">

              <% @employee = Employee.where(identification: current_user.identification).first %>

              <% if @employee && current_user.admin? == false %>
                <%= link_to(admin_payrole_detail_path(payrole, @employee), class:'btn btn-block primary-btn mt-2', title: 'Ver Colilla de Pago') do %>
                  <i class="fa fa-dollar"></i>
                <% end %>
              <% end %>

              <% if current_user.admin? %>
                <%= link_to(admin_bncr_file_path(payrole, format: "xls"), class:'btn info-btn', title: 'Archivo BNCR') do %>
                  <i class="fa fa-file-excel"></i>
                <% end %>
                <%= link_to(admin_bac_file_path(payrole, format: "xls"), class:'btn primary-btn', title: 'Archivo BAC') do %>
                  <i class="fa fa-file-excel"></i>
                <% end %>
                <button type="button" class="btn btn-info" data-toggle="modal" title="Enviar Boletas" data-target="#send_payslips<%= payrole.id %>">
                <i class="fa fa-envelope"></i>
                </button>
              <% end %>
            </div>
          </div>
        </div>
        <%= render 'admin/roles/partials/send_payslips_confirmation', payrole: payrole %>
      <% end %>
    <%end %>
  </div>
</div>