<div class="row justify-content-center">
  <div class="col-12">
    <p id="notice"><%= notice %></p>
    <h2>Planilla de Empleados</h2><br>
  </div>
</div>

<div class="row form_fieldset">
  <div  class="col-12 mt-4">
    <legend>Información General</legend>
  </div>
  <div class="col-4 mb-2 mt-2">
    <label for="">Nombre</label>
    <p><%= @payrole.name %></p>
  </div>
  <div class="col-4 mb-2 mt-2">
    <label for="">Fecha de Inicio</label>
    <p><%= @payrole.start_date %></p>
  </div>
  <div class="col-4 mb-2 mt-2">
    <label for="">Fecha de Fin</label>
    <p><%= @payrole.end_date %></p>
  </div>
</div>
<div class="row form_fieldset">
  <div  class="col-12 mt-4">
    <legend><%= @employee.name %>: <%= number_to_currency(@employee.payrole_details.where(role_id: @payrole.id).first.net_salary, unit: '₡') rescue nil %> </legend>
    <div class="card">
      <div class="card-body">
        <%= link_to(admin_payrole_detail_pdf_path(@payrole, @employee, :format => :pdf), class:'btn btn-info float-right ml-1', title: 'Descargar PDF', target: :blank) do %>
          <i class="fa fa-file-pdf-o"></i>
        <% end -%>
        <button type="button" class="btn btn-info float-right ml-1" data-toggle="modal" title="Enviar Boletas" data-target="#send_payslip">
        <i class="fa fa-envelope"></i>
        </button>
        <div id="table" class="table-responsive">
          <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <thead class="thead-dark">
              <tr>
                <th style="border: 1px solid" scope="col">Día</th>
                <th style="border: 1px solid" scope="col">Puesto</th>
                <th style="border: 1px solid" scope="col">Fecha</th>
                <th style="border: 1px solid" scope="col">Turno</th>
                <th style="border: 1px solid" scope="col">Sub-Puesto</th>
                <th style="border: 1px solid" scope="col">Horas</th>
                <th style="border: 1px solid" scope="col">Salario Mínimo</th>
                <th style="border: 1px solid" scope="col">Feriado</th>
                <th style="border: 1px solid" scope="col">Nº Horas Extras</th>
                <th style="border: 1px solid" scope="col">Pago Horas Extras</th>
                <th style="border: 1px solid" scope="col">Víaticos</th>
                <th style="border: 1px solid" scope="col">Pagos Extras</th>
                <th style="border: 1px solid" scope="col">Motivo Pagos Extras</th>
                <th style="border: 1px solid" scope="col">Deducciones</th>
                <th style="border: 1px solid" scope="col">Motivo Deducciones</th>
                <th style="border: 1px solid" scope="col">Comentario</th>
              </tr>
            </thead>
            <tbody>
              <% begin %>
              <% @employee.payrole_details.where(role_id: @payrole.id).first.detail_lines.order(date: :asc).each_with_index do |line, index|  %>

                <% disability_type = "" %>

                <% if line.shift_name == "Incapacidad"

                  @employee.disabilities.order(:start_date).each do |last_disability_period|

                    dates = (last_disability_period.start_date..last_disability_period.end_date).map(&:to_date)

                    if dates && (dates.include? Date.strptime(line.date, '%m/%d/%Y')) && last_disability_period.institution == "CCSS"
                      disability_type = " CCSS"
                    elsif dates && (dates.include? Date.strptime(line.date, '%m/%d/%Y')) && last_disability_period.institution == "INS"
                      disability_type = " INS"
                    end
                  end
                end %>

                <tr>
                  <% if line.role_line %>

                    <td style="border: 1px solid"><button type="button" class="btn-link remove-border" data-toggle="modal" title="Editar Línea" data-target="#edit_line_<%= line.role_line.id %>"><%= index + 1 %></button></td>

                    <%= render 'admin/roles/partials/edit_detail_line_modal', line: line.role_line %>
                    
                  <% else %>
                    <td style="border: 1px solid"><%= index + 1 %></td>
                  <% end %>
                  <td style="border: 1px solid"><%= line.stall_name %></td>
                  <td style="border: 1px solid"><%= line.date.split("/")[1] + "/" + line.date.split("/")[0] + "/" + line.date.split("/")[2] %></td>
                  <td style="border: 1px solid"><%= line.shift_name + disability_type %></td>
                  <td style="border: 1px solid"><%= line.substall %></td>
                  <td style="border: 1px solid"><%= line.hours.to_f.round(2) %></td>
                  <td style="border: 1px solid"><%= number_to_currency(line.salary.to_f.round(2), unit: '₡') %></td>
                  <td style="border: 1px solid"><%= number_to_currency(line.holiday.to_f.round(2), unit: '₡')  %></td>
                  <td style="border: 1px solid"><%= line.extra_hours.to_f.round(2) %></td>
                  <td style="border: 1px solid"><%= number_to_currency(line.extra_salary.to_f.round(2), unit: '₡') %></td>
                  <td style="border: 1px solid"><%= number_to_currency(line.viatical.to_f.round(2), unit: '₡') %></td>
                  <td style="border: 1px solid"><%= number_to_currency(line.extra_payment.to_f, unit: '₡') %></td>
                  <td style="border: 1px solid"><%= line.extra_payment_reason %></td>
                  <td style="border: 1px solid"><%= number_to_currency(line.deductions.to_f, unit: '₡') %></td>
                  <td style="border: 1px solid"><%= line.deductions_reason %></td>
                  <td style="border: 1px solid"><%= line.comments %></td>
                </tr>
              <% end %>
              <% rescue => ex %>
                <% logger.error ex.message %>
              <%end %>
              <tr>
                <td style="border: 1px solid"></td>
                <td style="border: 1px solid"></td>
                <td style="border: 1px solid"></td>
                <td style="border: 1px solid"></td>
                <td style="border: 1px solid"></td>
                <td style="border: 1px solid"></td>
                <td style="border: 1px solid"></td>
                <td style="border: 1px solid"></td>
                <td style="border: 1px solid"></td>
                <td style="border: 1px solid"></td>
                <td style="border: 1px solid"></td>
                <td style="border: 1px solid"></td>
                <td style="border: 1px solid"></td>
                <td style="border: 1px solid"></td>
                <td style="border: 1px solid"></td>
                <td style="border: 1px solid"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row mt-3 p-2">
          <div class="col-6">
            <div class="row">
              <div class="col-6" style="border-top: 1px solid; border-right: 1px solid; border-left: 1px solid;">Salario Base</div>

              <% base_salary = @employee.payrole_details.where(role_id: @payrole.id).first.base_salary.to_f - @employee.payrole_details.where(role_id: @payrole.id).first.holidays %>

              <div class="col-6" style="border-top: 1px solid; border-right: 1px solid;"><%= number_to_currency(base_salary, unit: '₡') rescue nil %></div>

              <div class="col-6" style="border-top: 1px solid; border-right: 1px solid; border-left: 1px solid;">Horas Extras</div>
              <div class="col-6" style="border-top: 1px solid; border-right: 1px solid;"><%= number_to_currency(@employee.payrole_details.where(role_id: @payrole.id).first.extra_salary, unit: '₡') rescue nil %></div>
              <div class="col-6" style="border-top: 1px solid; border-right: 1px solid; border-left: 1px solid;">Víaticos</div>
              <div class="col-6" style="border-top: 1px solid; border-right: 1px solid;"><%= number_to_currency(@employee.payrole_details.where(role_id: @payrole.id).first.viatical, unit: '₡') rescue nil %></div>
              <div class="col-6" style="border-top: 1px solid; border-right: 1px solid; border-left: 1px solid;">Pagos Adicionales</div>
              <div class="col-6" style="border-top: 1px solid; border-right: 1px solid; "><%= number_to_currency(@employee.payrole_details.where(role_id: @payrole.id).first.extra_payments, unit: '₡') rescue nil %></div>
              <div class="col-6" style="border-top: 1px solid; border-right: 1px solid; border-bottom: 1px solid; border-left: 1px solid;">Feriados</div>
              <div class="col-6" style="border-top: 1px solid; border-right: 1px solid; border-bottom: 1px solid;"><%= number_to_currency(@employee.payrole_details.where(role_id: @payrole.id).first.holidays, unit: '₡') rescue nil %></div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-6" style="border-top: 1px solid; border-right: 1px solid;">Salario Bruto</div>
              <div class="col-6" style="border-top: 1px solid; border-right: 1px solid;"><%= number_to_currency(@employee.payrole_details.where(role_id: @payrole.id).first.gross_salary, unit: '₡') rescue nil %></div>
              <div class="col-6" style="border-top: 1px solid; border-right: 1px solid;">Deducción CCSS</div>
              <div class="col-6" style="border-top: 1px solid; border-right: 1px solid;"><%= number_to_currency(@employee.payrole_details.where(role_id: @payrole.id).first.ccss_deduction, unit: '₡') rescue nil %></div>
              <div class="col-6" style="border-top: 1px solid; border-right: 1px solid;">Otras Deducciones</div>
              <div class="col-6" style="border-top: 1px solid; border-right: 1px solid;"><%= number_to_currency(@employee.payrole_details.where(role_id: @payrole.id).first.deductions, unit: '₡') rescue nil %></div>
              <div class="col-6" style="border-top: 1px solid; border-right: 1px solid;">Salario Neto</div>
              <div class="col-6" style="border-top: 1px solid; border-right: 1px solid;"><%= number_to_currency(@employee.payrole_details.where(role_id: @payrole.id).first.net_salary, unit: '₡') rescue nil %></div>
              <div class="col-6" style="border-top: 1px solid; border-right: 1px solid; border-bottom: 1px solid;">N/A</div>
              <div class="col-6" style="border-top: 1px solid; border-right: 1px solid; border-bottom: 1px solid;">₡0</div>

            </div>
          </div>
        </div>
        <h3 class="row mt-3 p-2">Movimientos Automáticos</h3>
        <% @employee.movements.each do |movement| %>

          <% unless movement.end_date %>
            <% movement.end_date = Time.now + 1.year %>
          <% end %>

          <% if (@role.start_date.to_date >= movement.start_date && @role.start_date.to_date <= movement.end_date) || (@role.end_date.to_date >= movement.start_date && @role.end_date.to_date <= movement.end_date) %>

          <% if movement.way == 'Porcentaje' %>
            <% amount = (@employee.payrole_details.where(role_id: @payrole.id).first.base_salary.to_f) * movement.amount / 100 %>
          <% else %>
            <% amount = movement.amount %>
          <% end %>

            <div class="row">
              <div class="col-2">
                <p><%= movement.comment %></p>
              </div>
              <div class="col-2">
                <p><%= number_to_currency(amount, unit: '₡') %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render 'admin/roles/partials/send_payslip_confirmation', payrole: @payrole, employee: @employee %>