<%= form_for(@role, :remote => true, :authenticity_token => true, prepend: true, url: admin_edit_role_lines_path(@role), html: {multipart: true}) do |form| %>
  <% if @employee %>
    <input value="<%= @employee.id %>" type="hidden" name="role[employee_id]" id="role_line_employee_id">
  <% end %>
  <div class="row form_fieldset text-center">
    <div  class="col-12 mt-4">
      <div class="row mt-1 ml-1  mr-1 pt-3 tbl_head d-none d-xl-flex text-center">
        <div class="col-12 col-md-1">
          <p class="text-uppercase">Día</p>
        </div>
        <div class="col-12 col-md-6">
          <div class="row">
            <div class="col-12 col-md-3">
              <p class="text-uppercase">Fecha</p>
            </div>
            <div class="col-12 col-md-3">
              <p class="text-uppercase">Turno</p>
            </div>
            <div class="col-12 col-md-3">
              <p class="text-uppercase">Sub-Puesto</p>
            </div>
            <div class="col-12 col-md-3">
              <p class="text-uppercase">Cargo</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-1">
          <p class="text-uppercase">Horas</p>
        </div>
        <div class="col-12 col-md-2">
          <p class="text-uppercase">Sub-Servicio</p>
        </div>
        <div class="col-12 col-md-1">
          <p class="text-uppercase">Feriado</p>
        </div>
        <div class="col-12 col-md-1">
          <p class="text-uppercase">Acciones</p>
        </div>
      </div>
      <div id="role_lines">
      <div class="role_lines-fields mt-4">
        <%= form.fields_for :role_lines, @role_lines do |role_line| %>
          <%= render 'admin/roles/role_line_fields', f: role_line %>
        <%end%>
      </div>
       <% if @employee %>
         <div class="row ml-1 mr-1 tbl_row">
          <div class="col-12 text-center p-2 tbl_footer">
            <%= link_to_add_association ' + Agregar Linea', form, :role_lines, data: { association_insertion_mode: '.role_lines.fields', partial: 'role_line_fields'}, class: 'btn add_btn' %>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
  <% if current_user.admin? %>
    <%= form.submit "Guardar", class: "btn btn-success mt-4" %>
  <% else %>
    <%= form.submit "Guardar",  id: "submit", data: { confirm: 'Debe enviar su solicitud hasta estar completamente seguro de haber hecho todas las modificaciones requeridas, ya que una vez enviada se borrarán todos los cambios realizados. ¿Desea completar esta acción?' }, class: "btn btn-success mt-4" %>
  <% end %>
  <%= link_to('Volver', edit_admin_role_path(@role), class: 'btn btn-light ml-sm-3 mt-4')%>
<% end %>

<script type="text/javascript">
  getDayName(1);
</script>