<div class="bg-body-light">
  <div class="content content-full">
    <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
      <h2 class="flex-sm-fill font-size-h2 font-w400 mt-2 mb-0 mb-sm-2">Planilla de Empleados</h2>
      <% if DateTime.parse(@payrole.end_date) + 3.days < Date.today  %>
        <%= link_to(admin_old_budget_path(@payrole), class: 'btn btn-info flex-sm-00-auto ml-sm-3') do %>
          <i class="fas fa-check mr-1"></i>Presupuesto
        <% end %>
      <% else %>
        <%= link_to(admin_budget_path(@payrole), class: 'btn btn-info flex-sm-00-auto ml-sm-3') do %>
          <i class="fas fa-check mr-1"></i>Presupuesto
        <% end %>
      <% end %>
    </div>
    <% if flash[:notice] %>
      <div class="alert alert-success alert-dismissible fade show mt-4 d-flex justify-content-center" role="alert">
        <%= flash[:notice] %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
  </div>
</div>
<div class="row form_fieldset">
  <div  class="col-12 mt-4">
    <legend>Informaci칩n General</legend>
  </div>
  <div class="col-lg-4 mb-2 mt-2">
    <label for="">Nombre</label>
    <p><%= @payrole.name %></p>
  </div>
  <div class="col-lg-4 mb-2 mt-2">
    <label for="">Fecha de Inicio</label>
    <p><%= @payrole.start_date %></p>
  </div>
  <div class="col-lg-4 mb-2 mt-2">
    <label for="">Fecha de Fin</label>
    <p><%= @payrole.end_date %></p>
  </div>
</div>
<div class="row form_fieldset">
  <div  class="col-12 mt-4">
    <legend>Informaci칩n de los Pagos</legend>
    <div class="card">
      <div class="card-body">
        <div class="row mt-2 mb-2">
          <div class="col-md-4">
            <label for="payrole">Filtrar por Nombre:</label>
            <input type="text" class="form-control" id="payrole" name="role[payrole_filter]" title="Escriba un nombre y precione 'entrar' o deje en blanco y precione 'entrar' para mostrar el listado completo"  placeholder="Filtrar por Nombre" onchange="filterPayrole()" data-lines="<%= @payrole_lines.to_json(include: :employee) %>">
          </div>
          <div class="col-md-4">
            <label for="banks">Ver Deposito por Banco:</label>
            <select class="form-control" id="banks" onchange="filterByBank()" title="Seleccione una entidad bancaria para ver el resumen del dep칩sito a realizar">
              <option value="0" selected>Seleccione una entidad bancaria</option>
              <option value="1">BAC</option>
              <option value="2">BNCR</option>
              <option value="2">SIN CUENTA</option>
            </select>
          </div>
        </div>
        <div id="payrole_lines_table" class="table-responsive"><%= render 'admin/roles/partials/payrole_lines_table', locals: {payrole_lines:  @payrole_lines}%>
        </div>
      </div>
    </div>
  </div>
</div>
<%= link_to 'Atr치s', admin_payroles_path %>