<div class="row mt-4 text-md-center tb_head" style="border: 1px solid #E8EBF2;">
  <div class="th col-3">
    <p class="text-uppercase font-weight-bold pt-3">Puesto</p>
  </div>
  <div class="th col-9">
    <p class="text-uppercase font-weight-bold pt-3">Detalle</p>
  </div>
</div>
<% if @stalls %>
<div class="row tb_body">
  <% @stalls.each do |stall| %>
    <div class="td col-3 pt-md-3"><%= stall.name %></div>
    <% stall_hours = 0 %>
    <div class="td col-9 pt-md-3">
      <div class="row text-md-center tb_head" style="border: 1px solid #E8EBF2;">
        <div class="th col-4">
          <p class="text-uppercase font-weight-bold pt-3">Fecha</p>
        </div>
        <div class="th col-4">
          <p class="text-uppercase font-weight-bold pt-3">Horas</p>
        </div>
        <div class="th col-4">
          <p class="text-uppercase font-weight-bold pt-3">Área</p>
        </div>
      </div>
      <% @role.role_lines.where(stall: stall).joins(:position).where.not(hours: "").select("role_lines.date,  sum(CAST(role_lines.hours AS float)) AS day_hours, positions.area_id").group(:date, :area_id).each do |line| %>
        <% stall_hours += line.day_hours %>
        <% area = Area.find(line.area_id) %>
        <div class="row tb_body">
          <div class="td col-4 pt-md-3"><p><%= line.date %></p></div>
          <div class="td col-4 pt-md-3"><p><%= line.day_hours %></p></div>
          <div class="td col-4 pt-md-3"><p><%= area.name %></p></div>
        </div>
      <% end %>
      <p class="mt-2">Total Quincenal: <%= stall_hours %></p>
    </div>
  <% end %>
</div>
<% end -%>