<div class="card">
  <div class="card-body">
    <div class="row mt-1 d-none d-md-flex text-center" style="">
      <div class="th col-12 col-md-4">
        <p class="text-uppercase">Nombre</p>
      </div>
      <div class="th col-12 col-md-4">
        <p class="text-uppercase">Fecha de Inicio</p>
      </div>
      <div class="th col-12 col-md-4">
        <p class="text-uppercase">Acciones</p>
      </div>
    </div>
    <% if @roles%>
      <% @roles.each do |role| %>
        <div class="row tb_body">
          <div class="td col-12 col-md-4  pt-md-3">
            <p class="d-md-none font-weight-bold">Nombre:</p>
            <p class="text-md-center mt-2"><%= link_to(role.name, admin_role_path(role), class:'', title: 'Ver Roll') %></p>
          </div>
          <div class="th col-12 col-md-4 pt-md-3">
            <p class="d-md-none font-weight-bold">Fecha de Inicio:</p>
            <p class="text-md-center mt-2"><%= role.start_date %></p>
          </div>
          <div class="th text-center col-md-4">
            <div class="mt-2 mb-2 btn-group">
              <% if current_user.admin? %>
                <%= link_to(admin_role_approvals_path(role), class:'btn btn-block info-btn mt-2', title: 'Aprobaciones') do %>
                  <i class="fa fa-check"></i>
                <% end -%>
              <% end -%>
              <%= link_to(edit_admin_role_path(role), class:'btn btn-block primary-btn mt-2', title: 'Editar Roll') do %>
                <i class="fa fa-pencil-alt"></i>
              <% end -%>
              <% if current_user.admin? %>
                <button type="button" class="btn btn-block delete-btn" data-toggle="modal" title="Eliminar Roll" data-target="#deleteRole<%= role.id %>">
                <i class="fa fa-times"></i>
                </button>
              <% end -%>
            </div>
          </div>
        </div>
        <%= render 'admin/roles/partials/delete_modal', role: role %>
      <% end %>
    <%end %>
  </div>
</div>