<div class="col-12 fields nested-fields text-center tbl_row">
  <div class="row">
    <%= f.hidden_field :stall_id, value:  @stall.id %>
    <% if @employee %>
      <%= f.hidden_field :employee_id, value:  @employee.id %>
    <% end -%>
    <div class="col-xl-1 col-lg-6 mb-2 pt-md-3">
      <p class="d-md-none font-weight-bold">Día</p>
      <%= f.text_field :day, class: "form-control", readonly: true %>
    </div>
    <div class="col-xl-2 col-lg-6 mb-2 pt-md-3">
      <p class="d-md-none font-weight-bold">Fecha</p>
      <%= f.text_field :date, placeholder: "dd / mm / aaaa", autocomplete: "off", class: "form-control", "data-date-format": 'mm/dd/yyyy', "data-provide": 'datepicker', onchange: "getDayName()" %>
    </div>
    <div class="col-xl-1 col-lg-6 mb-2 pt-md-3">
      <p class="d-md-none font-weight-bold">Turno</p>
      <%= f.collection_select :shift_id, @stall.payment.shifts.order(name: :asc), :id, :name, options = {include_blank: 'Seleccione un Turno'}, html_options = {class: "form-control", required: true, oninvalid: "setCustomValidity('Campo Requerido')", oninput: "setCustomValidity('')", title: "Seleccione un turno"}%>
    </div>
    <div class="col-xl-2 col-lg-6 mb-2 pt-md-3">
      <p class="d-md-none font-weight-bold">Sub-Puesto</p>
          <%= f.select(:substall, @substalls, {include_blank: 'Seleccione un Puesto'}, { class: "form-control" }) %>
    </div>
    <div class="col-xl-1 col-lg-6 mb-2 pt-md-3">
      <p class="d-md-none font-weight-bold">Feriado</p>
      <%= f.check_box :holiday %>
    </div>
    <div class="col-xl-2 col-lg-6 mb-2 pt-md-3">
      <p class="d-md-none font-weight-bold">Cargo</p>
      <% if @employee %>
        <%= f.collection_select :position_id, @employee.positions, :id, :name, options = {}, html_options = {class: "form-control", title: "Seleccione un cargo"}%>
      <% else %>
        <%= f.collection_select :position_id, [], :id, :name, options = {include_blank: 'Seleccione un cargo'}, html_options = {class: "form-control", required: true, oninvalid: "setCustomValidity('Campo Requerido')", oninput: "setCustomValidity('')", title: "Seleccione un cargo" }%>
      <% end %>
    </div>
    <div class="col-xl-2 col-lg-6 mb-2 pt-md-3">
      <p class="d-md-none font-weight-bold">Comentarios</p>
      <%= f.text_field :comment, class: "form-control comment", placeholder: "Cubre turno por permiso de Juan" %>
    </div>
    <div class="col-lg-1 col-md-4 pt-md-3">
       <%= link_to_remove_association "", f, class: "fas fa-trash-alt", id: 'remove_link', style: "color: #E25141" %>
    </div>
    <%= render 'admin/roles/partials/add_payment_modal', form: f %>
  </div>
</div>