<div id="role_line_fields" class="col-12 fields nested-fields text-center tbl_row" data-holidays="<%= Holiday.all.to_json %>" style="background-color: white;">
  <div class="input-group">
    <div class="input-group-prepend" style="width: 100%;">
      <%= f.hidden_field :stall_id,   value:  @stall.id %>
      <%= f.hidden_field :user_email, value:  current_user.email %>
      <% if @employee %>
        <%= f.hidden_field :employee_id, value:  @employee.id %>
      <% end -%>
      <%= f.text_field :day, class: "form-control", readonly: true, style: "width: 20%;" %>

      <%= f.hidden_field :date, autocomplete: "off", class: "form-control date", "data-date-format": 'mm/dd/yyyy', "data-provide": 'datepicker', "data-date-autoclose": true, "data-date-language": 'es' %>

      <% date = if f.object.date && f.object.date != "" then f.object.date.split("/") else nil end %>

      <%= f.text_field :date_2, placeholder: "dd / mm / aaaa", required: true, oninvalid: "setCustomValidity('Campo Requerido')", autocomplete: "off", class: "form-control date", "data-date-format": 'dd/mm/yyyy', "data-provide": 'datepicker', onchange: "getDayName(this), setCustomValidity('')", "data-date-autoclose": true, "data-date-language": 'es', title: "Seleccione la fecha del día laborado", value: if date then date[1] + '/' + date[0] + '/' + date[2] end %>

      <% if @stall.quote.payment %>
        <%= f.collection_select :shift_id, @stall.quote.payment.shifts.where(active: true).order(name: :asc), :id, :name, options = {}, html_options = {class: "form-control", title: "Seleccione el turno trabajado" }%>
      <% else %>
        <%= f.collection_select :shift_id, Payment.find(2).shifts.where(active: true).order(name: :asc), :id, :name, options = {include_blank: 'Seleccione un Turno'}, html_options = {class: "form-control", title: "Seleccione el turno trabajado" }%>
      <% end %>
      <%= f.select(:substall, @substalls, {include_blank: 'Seleccione un Puesto'}, { class: "form-control", title: "Seleccione el puesto en el cual se laboró" }) %>
      <% if @employee %>
        <%= f.collection_select :position_id, @employee.positions, :id, :name, options = { include_blank: false }, html_options = {class: "form-control", title: "Seleccione el cargo desempeñado por el trabajador en la fecha que seleccionó anterirormente." }%>
      <% else %>
        <%= f.collection_select :position_id, [], :id, :name, options = {include_blank: false }, html_options = {class: "form-control", title: "Seleccione el cargo desempeñado por el trabajador en la fecha que seleccionó anterirormente."  }%>
      <% end %>
      <% if @employee %>
        <%= f.collection_select :sub_service_id, @employee.sub_services, :id, :name, options = {include_blank: false }, html_options = {class: "form-control", title: "Seleccione para cual de los servicios ofrecidos por PASECO laboró el trabajador en la fecha que seleccionó anterirormente." }%>
      <% else %>
        <%= f.collection_select :sub_service_id, [], :id, :name, options = {include_blank: false }, html_options = {class: "form-control", title: "Seleccione para cual de los servicios ofrecidos por PASECO laboró el trabajador en la fecha que seleccionó anterirormente." }%>
      <% end %>
      <%= f.text_field :hours, class: "form-control hours", placeholder: "3", onKeyUp: "hoursValidation(this)", style: "width: 20%;"  %>
      <div class="mt-2">
       <button name="btn_modal" style="background: none; border: none; color: #8068D9;" type="button" class="fas fa-comment" onclick="showModal(this)"></button>
      </div>
      <div class="mt-2">
       <%= link_to_remove_association "", f, class: "fas fa-trash-alt", id: 'remove_link', style: "color: #E25141" %>
      </div>
      <%= render 'admin/roles/partials/add_payment_modal', form: f %>
    </div>
  </div>
</div>