<div class="row justify-content-center" >
  <div class="col-12" style="">
    <% if flash[:notice] %>
          <div class="alert alert-success alert-dismissible fade show mt-4 d-flex justify-content-center" role="alert">
            <%= flash[:notice] %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
      <% end %>
    <div class="row justify-content-center">
      <div class="col-lg-12 col-md-9 col-sm-9 col-xs-9">
        <%= form_for(@role, :remote => true, url: admin_edit_role_lines_path(@role), html: {multipart: true}) do |form| %>
          <div id="linesTable"><%= render 'admin/roles/partials/role_lines_table', form: form %></div>
          <% if current_user.admin? || current_user.manager? %>
            <%= form.submit "Guardar", class: "btn btn-success mt-4" %>
          <% else %>
            <%= form.submit "Guardar",  id: "submit", data: { confirm: 'Debe enviar su solicitud hasta estar completamente seguro de haber hecho todas las modificaciones requeridas, ya que una vez enviada se borrarán todos los cambios realizados. ¿Desea completar esta acción?' }, class: "btn btn-success mt-4" %>
          <% end %>
          <%= link_to('Cancelar', edit_admin_role_path(@role), class: 'btn btn-light ml-sm-3 mt-4')%>
        <% end %>
      </div>
    </div>
  </div>
</div>