<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <h4 class="font-weight-bold"><%= @employee.name %></h4>
      <h4>Periodo <%= @payrole.start_date %> - <%= @payrole.end_date %></h4>
    </div>
  </div><br>
  <div class="row form_fieldset">
    <div  class="col-12">
      <div id="table1">
        <table class="table-striped table-sm" cellspacing="0" width="100%">
          <thead class="">
            <tr>
          	  <th style="border: 1px solid black;">Fecha</th>
              <th style="border: 1px solid black;">Puesto</th>
              <th style="border: 1px solid black;">Turno</th>
              <th style="border: 1px solid black;">Sub-Puesto</th>
              <th style="border: 1px solid black;">Horas</th>
              <th style="border: 1px solid black;">Salario Mínimo</th>
              <th style="border: 1px solid black;">Feriado</th>
              <th style="border: 1px solid black; border-right: none;">Horas</th>
              <th style="border: 1px solid black; border-left: none;">Extras</th>
              <th style="border: 1px solid black;">Víaticos</th>
              <th style="border: 1px solid black;">Pagos Extras</th>
              <th style="border: 1px solid black;">Deducciones</th>
            </tr>
          </thead>
          <tbody>
            <% begin %>
            <% @employee.payrole_details.where(role_id: @payrole.id).first.detail_lines.order(date: :asc).each do |line|  %>

              <% disability_type = "" %>

              <% if line.shift_name == "Incapacidad"

                @employee.disabilities.order(:start_date).each do |last_disability_period|

                  dates = (last_disability_period.start_date..last_disability_period.end_date).map(&:to_date)

                  if dates && (dates.include? Date.strptime(line.date, '%m/%d/%Y')) && last_disability_period.institution == "CCSS"
                    disability_type = " CCSS"
                  elsif dates && (dates.include? Date.strptime(line.date, '%m/%d/%Y')) && last_disability_period.institution == "INS"
                    disability_type = " INS"
                  end
                end
              end %>

              <tr>
                <td style="border: 1px solid"><%= line.date.split("/")[1] + "/" + line.date.split("/")[0] + "/" + line.date.split("/")[2] %></td>
                <td style="border: 1px solid"><%= line.stall_name %></td>
                <td style="border: 1px solid"><%= line.shift_name + disability_type %></td>
                <td style="border: 1px solid"><%= line.substall %></td>
                <td style="border: 1px solid"><%= line.hours.to_f.round(2) %></td>
                <td style="border: 1px solid"><%= number_to_currency(line.salary.to_f.round(2), unit: '₡') %></td>
                <td style="border: 1px solid"><%= number_to_currency(line.holiday.to_f.round(2), unit: '₡')  %></td>
                <td style="border: 1px solid"><%= line.extra_hours.to_f.round(2) %></td>
                <td style="border: 1px solid"><%= number_to_currency(line.extra_salary.to_f.round(2), unit: '₡') %></td>
                <td style="border: 1px solid"><%= number_to_currency(line.viatical.to_f.round(2), unit: '₡') %></td>
               <td style="border: 1px solid"><%= number_to_currency(line.extra_payment.to_f, unit: '₡') %></td>
                <td style="border: 1px solid"><%= number_to_currency(line.deductions.to_f, unit: '₡') %></td>
              </tr>
            <% end %>
            <% rescue => ex %>
              <% logger.error ex.message %>
            <%end %>
            <tr>
              <td style="border: 1px solid"></td>
              <td style="border: 1px solid"></td>
              <td style="border: 1px solid"></td>
              <td style="border: 1px solid"></td>
              <td style="border: 1px solid"></td>
              <td style="border: 1px solid"></td>
              <td style="border: 1px solid"></td>
              <td style="border: 1px solid"></td>
              <td style="border: 1px solid"></td>
              <td style="border: 1px solid"></td>
              <td style="border: 1px solid"></td>
              <td style="border: 1px solid"></td>
            </tr>
          </tbody>
        </table>
      </div><br>
      <div id="table2" class="">
        <table class="table-striped table-bordered table-sm" cellspacing="0" width="100%">
          <thead class="">
            <tr>
          	  <th scope="" width="25%"></th>
              <th scope="" width="25%"></th>
              <th scope="" width="25%"></th>
              <th scope="" width="25%"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <% base_salary = @employee.payrole_details.where(role_id: @payrole.id).first.base_salary.to_f - @employee.payrole_details.where(role_id: @payrole.id).first.holidays %>

          	  <td>Salario Base</td>
              <td><%= number_to_currency(base_salary, unit: '₡') rescue nil %></td>
              <td>Horas Extras</td>
              <td><%= number_to_currency(@employee.payrole_details.where(role_id: @payrole.id).first.extra_salary, unit: '₡') rescue nil %></td>
            </tr>
            <tr>
           	  <td>Víaticos</td>
              <td><%= number_to_currency(@employee.payrole_details.where(role_id: @payrole.id).first.viatical, unit: '₡') rescue nil %></td>
              <td>Pagos Adicionales</td>
              <td><%= number_to_currency(@employee.payrole_details.where(role_id: @payrole.id).first.extra_payments, unit: '₡') rescue nil %></td>
            </tr>
            <tr>
              <td>Feriados</td>
              <td><%= number_to_currency(@employee.payrole_details.where(role_id: @payrole.id).first.holidays, unit: '₡') rescue nil %></td>
            </tr>
            <tr>
          	  <td>Salario Bruto</td>
              <td><%= number_to_currency(@employee.payrole_details.where(role_id: @payrole.id).first.gross_salary, unit: '₡') rescue nil %></td>
              <td>Deducción CCSS</td>
              <td><%= number_to_currency(@employee.payrole_details.where(role_id: @payrole.id).first.ccss_deduction, unit: '₡') rescue nil %></td>
            </tr>
            <tr>
          	  <td>Otras Deducciones</td>
              <td><%= number_to_currency(@employee.payrole_details.where(role_id: @payrole.id).first.deductions, unit: '₡') rescue nil %></td>
              <td>Salario Neto</td>
              <td><%= number_to_currency(@employee.payrole_details.where(role_id: @payrole.id).first.net_salary, unit: '₡') rescue nil %></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
	</div>
  </div><br>
  <div class="row">
    <div class="col-6">
      <h4>Detalle de Pagos Extras</h4 >
      <ul>
        <% @employee.payrole_details.where(role_id: @payrole.id).first.detail_lines.order(date: :asc).each do |line| %>
          <% if (line.extra_payment_reason && line.extra_payment_reason != "") %>
            <li><%= line.extra_payment_reason %>: <%= number_to_currency(line.extra_payment.to_f, unit: '₡') rescue nil %></li>
          <% end %>
        <% end %>
        <% @employee.movements.where(affair: 'Crédito').each do |movement| %>

          <% unless movement.end_date %>
            <% movement.end_date = Time.now + 1.year %>
          <% end %>

          <% if (@role.start_date.to_date >= movement.start_date && @role.start_date.to_date <= movement.end_date) || (@role.end_date.to_date >= movement.start_date && @role.end_date.to_date <= movement.end_date) %>

            <% if movement.way == 'Porcentaje' %>
              <% amount = (@employee.payrole_details.where(role_id: @payrole.id).first.base_salary.to_f) * movement.amount / 100 %>
            <% else %>
              <% amount = movement.amount %>
            <% end %>

            <li><%= movement.comment %>: <%= number_to_currency(amount, unit: '₡') %></li>
          <% end %>
        <% end %>
	  </ul>
    </div>
  </div><br>
  <div class="row">
      <div class="col-6">
      <h4>Detalle de Deducciones</h4>
      <ul>
        <% @employee.payrole_details.where(role_id: @payrole.id).first.detail_lines.order(date: :asc).each do |line| %>
          <% if (line.deductions_reason && line.deductions_reason != "") %>
            <li><%= line.deductions_reason %>: <%= number_to_currency(line.deductions.to_f, unit: '₡') rescue nil %></li>
          <% end %>
        <% end %>
        <% @employee.movements.where(affair: 'Débito').each do |movement| %>

          <% unless movement.end_date %>
            <% movement.end_date = Time.now + 1.year %>
          <% end %>

          <% if (@role.start_date.to_date >= movement.start_date && @role.start_date.to_date <= movement.end_date) || (@role.end_date.to_date >= movement.start_date && @role.end_date.to_date <= movement.end_date) %>

            <% if movement.way == 'Porcentaje' %>
              <% amount = (@employee.payrole_details.where(role_id: @payrole.id).first.base_salary.to_f) * movement.amount / 100 %>
            <% else %>
              <% amount = movement.amount %>
            <% end %>

            <li><%= movement.comment %>: <%= number_to_currency(amount, unit: '₡') %></li>
          <% end %>
        <% end %>
	  </ul>
    </div>
  </div>
</div>

<style type="text/css">
  h4{
  	color: #089bd7;
  }

  #table1 thead{
  	background-color: #00528a;
  	color: white;
  	text-align: center;
  }

  #table1 table{
  	font-size: 13px;
  }

  html, body {
    overflow-x: visible;
  } 
</style>