<div class="row d-flex justify-content-center">
  <div class="col-12">
    <p id="notice"><%= notice %></p>
    <h2>Informaci칩n del Roll</h2><br>
  </div>
</div>

<div class="row form_fieldset">
  <div  class="col-12 mt-4 p-3">
    <legend>Informaci칩n General</legend>
  </div>
  <div class="col-md-4 col-sm-6  mb-2 mt-2">
  	<strong>Nombre:</strong>
    <p><%= @role.name %></p>
  </div>
  <div class="col-md-4 col-sm-6 mt-2">
    <strong>Fecha de Inicio:</strong>
    <p><%= @role.start_date %></p>
  </div>
  <div class="col-md-4 col-sm-6 mt-2">
    <strong>Fecha de Finalizaci칩n:</strong>
    <p><%= @role.end_date %></p>
  </div>
</div>

<div class="row form_fieldset mb-3">
  <div  class="col-12">
    <legend>Puestos del Roll</legend>
  </div>
  <% if @role.stalls %>
    <div class="row ml-1 mr-1 mt-3 mb-3 text-center"  style="border:1px solid;">
    <% Stall.where(active: true).or(Stall.where(id: @role.role_lines.pluck("stall_id").uniq)).order(name: :asc).each do |stall| %>
        <div class="col-6 col-sm-4 col-xl-2 pt-3 pb-3">
          <%= link_to(stall.name,admin_stall_summary_path(@role, stall), class:'' ) %>
        </div>
    <% end %>
    </div>
  <% end -%>
</div>

<%= link_to 'Editar', edit_admin_role_path(@role) %> |
<%= link_to 'Atr치s', admin_roles_path %>
