<div class="row justify-content-center">
  <div class="col-12">
    <p id="notice"><%= notice %></p>
    <h2>Planilla de Empleados</h2><br>
  </div>
</div>

<div class="row form_fieldset">
  <div  class="col-12 mt-4">
    <legend>Informaci칩n General</legend>
  </div>
  <div class="col-lg-4 mb-2 mt-2">
    <label for="">Nombre</label>
    <p><%= @payrole.name %></p>
  </div>
  <div class="col-lg-4 mb-2 mt-2">
    <label for="">Fecha de Inicio</label>
    <p><%= @payrole.start_date %></p>
  </div>
  <div class="col-lg-4 mb-2 mt-2">
    <label for="">Fecha de Fin</label>
    <p><%= @payrole.end_date %></p>
  </div>
</div>
<div class="row form_fieldset">
  <div  class="col-12 mt-4">
    <legend>Informaci칩n de los Pagos</legend>
    <div class="card">
      <div class="card-body">
        <div class="row mt-2 mb-2">
          <div class="col-md-4">
            <label for="payrole">Filtrar por Nombre:</label>
            <input type="text" class="form-control" id="payrole" name="role[payrole_filter]" title="Escriba un nombre y precione 'entrar' o deje en blanco y precione 'entrar' para mostrar el listado completo"  placeholder="Filtrar por Nombre" onchange="filterPayrole()" data-lines="<%= @payrole_lines.to_json(include: :employee) %>">
          </div>
          <div class="col-md-4">
            <label for="banks">Ver Deposito por Banco:</label>
            <select class="form-control" id="banks" onchange="filterByBank()" title="Seleccione una entidad bancaria para ver el resumen del dep칩sito a realizar">
              <option value="0" selected>Seleccione una entidad bancaria</option>
              <option value="1">BAC</option>
              <option value="2">BNCR</option>
              <option value="2">SIN CUENTA</option>
            </select>
          </div>
        </div>
        <div id="payrole_lines_table" class="table-responsive"><%= render 'admin/roles/partials/payrole_lines_table', locals: {payrole_lines:  @payrole_lines}%>
        </div>
      </div>
    </div>
  </div>
</div>
<%= link_to 'Atr치s', admin_payroles_path %>