<div class="row justify-content-center">
  <div class="col-12">
    <p id="notice"><%= notice %></p>
    <h2>Planilla de Empleados</h2><br>
  </div>
</div>

<div class="row form_fieldset">
  <div  class="col-12 mt-4">
    <legend>Información General</legend>
  </div>
  <div class="col-lg-4 mb-2 mt-2">
    <label for="">Nombre</label>
    <p><%= @payrole.name %></p>
  </div>
  <div class="col-lg-4 mb-2 mt-2">
    <label for="">Fecha de Inicio</label>
    <p><%= @payrole.start_date %></p>
  </div>
  <div class="col-lg-4 mb-2 mt-2">
    <label for="">Fecha de Fin</label>
    <p><%= @payrole.end_date %></p>
  </div>
</div>
<div class="row form_fieldset">
  <div  class="col-12 mt-4">
    <legend>Información de los Pagos</legend>
    <div class="card">
      <div class="card-body">
        <input type="text" style="border: 1px solid #DFE9DF" class="col-md-4 mt-2 mb-2 text-center" id="payrole" name="role[payrole_filter]" title="Escriba un nombre y precione 'entrar' o deje en blanco y precione 'entrar' para mostrar el listado completo"  placeholder="Filtrar por Nombre" onchange="filterPayrole()" data-lines="<%= @payrole_lines.to_json(include: :employee) %>">
        <div id="payrole_lines_table" class="table-responsive"><%= render 'admin/roles/partials/payrole_lines_table', locals: {payrole_lines:  @payrole_lines}%></div>
      </div>
    </div>
  </div>
</div>
<%= link_to 'Atrás', admin_payroles_path %>