<div class="row justify-content-center">
  <div class="col-12">
    <p id="notice"><%= notice %></p>
    <h2>Informaci칩n del Roll</h2><br>
  </div>
</div>

<div class="row form_fieldset">
  <div  class="col-12 mt-4 p-3">
    <legend>Informaci칩n General</legend>
  </div>
  <div class="col-md-4 col-sm-6  mb-2 mt-2">
  	<strong>Nombre:</strong>
    <p><%= @role.name %></p>
  </div>
  <div class="col-md-4 col-sm-6 mt-2">
    <strong>Fecha de Inicio:</strong>
    <p><%= @role.start_date %></p>
  </div>
  <div class="col-md-4 col-sm-6 mt-2">
    <strong>Fecha de Finalizaci칩n:</strong>
    <p><%= @role.end_date %></p>
  </div>
</div>

<div class="row form_fieldset mb-2">
  <div  class="col-12 mt-4">
    <legend>Puestos del Roll</legend>
  </div>
  <% if @role.stalls %>
    <% @role.stalls.each do |stall| %>
      <h4><%= stall.name %></h4>
      <div class="col-12" id="showTable"><%= render 'admin/roles/partials/show_table', stall:  stall %></div>
    <% end -%>
  <% end -%>
</div>

<%= link_to 'Editar', edit_admin_role_path(@role) %> |
<%= link_to 'Atr치s', admin_roles_path %>
