<div class="bg-body-light">
    <div class="content content-full">
        <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
            <h3 class="font-size-h2 font-w400 mt-2 mb-0 mb-sm-2">Horas Totales: <%= @role.name %></h3>
            <nav class="flex-sm-00-auto ml-sm-3" aria-label="breadcrumb">
                <ol class="breadcrumb d-none d-md-flex">
                    <%= link_to('Roles', admin_roles_path, class: 'breadcrumb-item')%>
                    <li class="breadcrumb-item active" aria-current="page">Horas Totales</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="card">
  <div class="card-body">
    <div class="form_fieldset m-md-5 mb-sm-5">
      <div class="row">
        <label for="payrole">Filtrar Puesto:</label>
        <%= select("role", "stall_ids", Stall.where(active: true).or(Stall.where(id: @role.role_lines.pluck("stall_id").uniq)).order(name: :asc).collect {|stall| [ stall.name, stall.id ] }, { include_blank: "Seleccione un puesto", selected: 0,  }, { class: "form-control", id: "stalls_select" }) %>
      </div>
      <div id="stalls_hours_table"><%= render 'admin/roles/partials/stalls_hours_table', locals: {stalls:  @stalls}%></div>
    </div>
  </div>
</div>

<%= link_to 'Atrás', admin_roles_path, class: "ml-md-5" %>