<div class="card">
  <div class="card-body">
    <div class="row mt-1 d-none d-md-flex text-center" style="">
      <div class="th col-12 col-md-1">
        <p class="text-uppercase">#</p>
      </div>
      <div class="th col-12 col-md-4">
        <p class="text-uppercase">Nombre</p>
      </div>
      <div class="th col-12 col-md-4">
        <p class="text-uppercase">Salario</p>
      </div>
      <div class="th col-12 col-md-3">
        <p class="text-uppercase">Acciones</p>
      </div>
    </div>
    <% if @positions%>
      <% @positions.each_with_index do |position, index| %>
        <div class="row tb_body">
          <div class="td col-12 col-md-1  pt-md-3">
            <p class="d-md-none font-weight-bold">Número:</p>
            <p class="text-md-center mt-2"><%= index + 1 %></p>
          </div>
          <div class="td col-12 col-md-4  pt-md-3">
            <p class="d-md-none font-weight-bold">Nombre:</p>
            <p class="text-md-center mt-2"><%= position.name %></p>
          </div>
          <div class="th col-12 col-md-4 pt-md-3">
            <p class="d-md-none font-weight-bold">Salario:</p>
            <p class="text-md-center mt-2"><%= position.salary %></p>
          </div>
          <div class="th text-center col-md-3">
            <div class="mt-2 mb-2 btn-group">
              <%= link_to(edit_admin_position_path(position), class:'btn primary-btn', title: 'Editar Rango') do %>
                <i class="fa fa-pencil-alt"></i>
              <% end -%>
              <button type="button" class="btn delete-btn" data-toggle="modal" title="Eliminar Rango" data-target="#deletePosition<%= position.id %>">
                <i class="fa fa-times"></i>
              </button>
            </div>
          </div>
        </div>
        <%= render 'admin/positions/partials/delete_modal', position: position %>
      <% end %>
    <%end %>
  </div>
</div>