<div class="col-12 fields nested-fields text-center tbl_row">
  <div class="row">
	<div class="col-lg-3 col-md-4 mt-3">
	  <p class="d-xl-none font-weight-bold">Cargo</p>
	  <%= f.collection_select :position_id, Position.all.order(name: :asc), :id, :name, options = {}, html_options = {class: "form-control",  title: "Cargo"}%>
	</div>
	<div class="col-xl-3 col-md-4 mt-3">
	  <p class="d-xl-none font-weight-bold">Turno</p>
	  <%= f.collection_select :shift_id, @stall.payment.shifts.order(name: :asc), :id, :name, options = {}, html_options = {class: "form-control",  title: "Seleccione un turno"}%>
	</div>
	<div class="col-xl-2 col-md-4 mt-3">
	  <p class="d-xl-none font-weight-bold">Horas</p>
	  <%= f.text_field :hours, class: "form-control", placeholder: "8" %>
	</div>
	<div class="col-xl-2 col-md-4 mt-3">
	  <p class="d-xl-none font-weight-bold">Trabajadores</p>
	  <%= f.text_field :workers, class: "form-control", placeholder: "3" %>
	</div>
	<div class="col-xl-2 col-md-4 mt-3">
	   <%= link_to_remove_association "", f, class: "fas fa-trash-alt", id: 'remove_link', style: "color: black" %>
	</div>
  </div>
</div>