<div class="bg-body-light">
    <div class="content content-full">
        <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
            <h3 class="flex-sm-fill font-size-h2 font-w400 mt-2 mb-0 mb-sm-2">Editar Puesto</h3>
            <nav class="flex-sm-00-auto ml-sm-3" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <%= link_to('Puestos', admin_stalls_path, class: 'breadcrumb-item')%>
                    <li class="breadcrumb-item active" aria-current="page">Editar Puesto</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
  <div class="col-sm-12">
    <%= form_for(@stall, url: admin_stall_path(@stall), html: {multipart: true, onsubmit:"return validateStallForm()"}) do |form| %>
    <div class="card">
      <div class="card-body">
          <%= render 'admin/stalls/partials/form', form: form %>
          <div class="row form_fieldset text-center">
            <div  class="col-12 mt-4">
              <legend class="text-left">Información de los Requerimientos</legend>
              <div class="row mt-1 ml-1  mr-1 pt-3 tbl_head d-none d-xl-flex text-center" style="border-bottom: none;">
                <div class="col-12 col-xl-3">
                  <p class="text-uppercase">Cargo</p>
                </div>
                <div class="col-12 col-xl-3">
                  <p class="text-uppercase">Turno</p>
                </div>
                <div class="col-12 col-xl-2">
                  <p class="text-uppercase">Horas</p>
                </div>
                <div class="col-12 col-xl-2">
                  <p class="text-uppercase">Trabajadores</p>
                </div>
                <div class="col-12 col-xl-2">
                  <p class="text-uppercase">Acciones</p>
                </div>
              </div>
              <div class="role_lines-fields">
                <%= form.fields_for :requirements do |requirement| %>
                  <%= render 'requirement_fields', f: requirement %>
                <%end%>
              </div>
              <div class="col-12 text-center p-2 tbl_footer">
                <%= link_to_add_association ' + Agregar Requerimiento', form, :requirements, data: { association_insertion_mode: '.requirements.fields', partial: 'requirement_fields'}, class: 'btn add_btn' %>
              </div>
            </div>
          </div>
          <%= form.submit "Guardar", id: 'btn_submit', class: "btn btn-success mt-4" %>
          <%= link_to('Cancelar', admin_stalls_path, class: 'btn btn-light ml-sm-3 mt-4')%>
        </div>
      </div>
    <% end %>
  </div>
</div>