<div class="card">
  <div class="card-body">
    <div class="row form_fieldset">
      <div class="col-lg-4 mb-2 mt-2">
        <label for="">Fecha</label>
        <%= form.text_field :date, id: "date", class: "form-control", placeholder: "20190213" %>
        <label id="date_error"></label>
      </div>
      <div class="col-lg-4 mb-2 mt-2">
        <label for="">Número de Empresa</label>
        <%= form.text_field :plan, id: "plan", class: "form-control", placeholder: "ADE8" %>
        <label id="plan_error"></label>
      </div>
      <div class="col-lg-4 mb-2 mt-2">
        <label for="">Tipo de Tranferencia</label>
        <%= form.text_field :shipping, id: "shipping", class: "form-control", placeholder: "00123" %>
        <label id="shipping_error"></label>
      </div>
      <div class="col-lg-4 mb-2 mt-2">
        <label for="">Consecutivo</label>
        <%= form.text_field :concept, id: "concept", class: "form-control", placeholder: "PAGO PLANILLA Q2 NOVIEMBRE" %>
        <label id="concept_error"></label>
      </div>
    </div>
    <%= form.submit "Guardar", id: 'btn_submit', class: "btn btn-success mt-4" %>
    <%= link_to('Cancelar', root_path, class: 'btn btn-light ml-sm-3 mt-4')%>
  </div>
</div>
<script type="text/javascript">
  onInput("date");
  onInput("plan");
  onInput("shipping");
  onInput("concept");
</script>