<div class="card">
  <div class="card-body">
    <% if @cost_center.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@cost_center.errors.count, "error") %> impidió que este cliente fuera guardado :</h2>

        <ul>
        <% @cost_center.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row form_fieldset">

      <div class="col-lg-6 mb-2 mt-2">
        <label for="">Nombre</label>
        <%= form.text_field :name, class: "form-control", placeholder: "Nombre" %>
      </div>

      <div class="col-lg-6 mb-2 mt-2">
        <label for="">Cliente</label>
        <%= form.collection_select :customer_id, Customer.all.order(tradename: :asc), :id, :tradename, options = {}, html_options = {class: "form-control"}%>
      </div>
    </div>
    
    <%= form.submit "Guardar", class: "btn btn-success" %>
    <%= link_to('Cancelar', admin_cost_centers_path, class: 'btn btn-light ml-3')%>
  </div>
</div>