<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="user-wrapper">
          <div class="profile-image">
            <%= image_tag('default_avatar.png') %>
          </div>
          <div class="text-wrapper">
            <p class="profile-name"><%= current_user.name %></p>
            <div>
              <small class="designation text-muted">Administrador</small>
              <span class="status-indicator online"></span>
            </div>
          </div>
        </div>
        <%= link_to('Inicio', authenticated_root_path, class: 'btn btn-info btn-block')%>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" aria-expanded="false" onclick="toggleNavLink('maintenance')" id="maintenanceNavLink">
        <i class="menu-icon fas fa-database"></i>
        <span class="menu-title">Mantenimiento</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="maintenance">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <%= link_to('Áreas', admin_areas_path, class: 'nav-link') if current_user.admin? %>
          </li>
          <li class="nav-item">
            <%= link_to('Deducción CCSS', edit_admin_ccss_payment_path(CcssPayment.first), class: 'nav-link') if current_user.admin? %>
          </li>
          <li class="nav-item">
            <%= link_to('Feriados', admin_holidays_path, class: 'nav-link') if current_user.admin? %>
          </li>
          <li class="nav-item">
            <%= link_to('Info BNCR', edit_admin_bncr_info_path(BncrInfo.first), class: 'nav-link') if current_user.admin? %>
          </li>
          <li class="nav-item">
            <%= link_to('Info BAC', edit_admin_bac_info_path(BacInfo.first), class: 'nav-link') if current_user.admin? %>
          </li>
          <li class="nav-item">
            <%= link_to('Pagos', admin_payments_path, class: 'nav-link') if current_user.admin? %>
          </li>
          <li class="nav-item">
            <%= link_to('Rangos', admin_positions_path, class: 'nav-link') if current_user.admin? %>
          </li>
          <li class="nav-item">
            <%= link_to('Usuarios', admin_users_path, class: 'nav-link') if current_user.admin? %>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" aria-expanded="false" onclick="toggleNavLink('quotes')" id="quotesNavLink">
        <i class="menu-icon fas fa-list-ul"></i>
        <span class="menu-title">Cotizaciónes</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="quotes">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <%= link_to('Todas', admin_quotes_path, class: 'nav-link') if current_user.admin? %>
          </li>
          <li class="nav-item">
            <%= link_to('Crear Nueva', new_admin_quote_path, class: 'nav-link') if current_user.admin? %>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" aria-expanded="false" onclick="toggleNavLink('active')" id="activeNavLink">
        <i class="menu-icon fas fa-user-plus"></i>
        <span class="menu-title">Activos</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="active">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <%= link_to('Clientes', admin_customers_path, class: 'nav-link') if current_user.admin? %>
          </li>
          <li class="nav-item">
            <%= link_to('Puestos', admin_stalls_path, class: 'nav-link') if current_user.admin? %>
          </li>
          <li class="nav-item">
            <%= link_to('Empleados', admin_employees_path, class: 'nav-link') if current_user.admin? || current_user.human_resources? || current_user.sup_hr? || current_user.psychologist? %>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" aria-expanded="false" onclick="toggleNavLink('inactive')" id="inactiveNavLink">
        <i class="menu-icon fas fa-user-minus"></i>
        <span class="menu-title">Inactivos</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="inactive">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <%= link_to('Clientes', admin_inactive_customers_path, class: 'nav-link') if current_user.admin? %>
          </li>
          <li class="nav-item">
            <%= link_to('Puestos', admin_inactive_stalls_path, class: 'nav-link') if current_user.admin? %>
          </li>
          <li class="nav-item">
            <%= link_to('Empleados', admin_inactive_employees_path, class: 'nav-link') if current_user.admin? || current_user.human_resources? || current_user.sup_hr? || current_user.psychologist? %>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" aria-expanded="false" onclick="toggleNavLink('workRoles')" id="workRolesNavLink">
        <i class="menu-icon fas fa-search"></i>
        <span class="menu-title">Supervisores</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="workRoles">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <%= link_to('Roll de Trabajo', admin_work_roles_path, class: 'nav-link') if current_user.admin? || current_user.supervisor? %>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" aria-expanded="false" onclick="toggleNavLink('operations')" id="operationsNavLink">
        <i class="menu-icon fas fa-cogs"></i>
        <span class="menu-title">Operaciones</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="operations">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <%= link_to('Roles', admin_roles_path, class: 'nav-link') if current_user.admin? || current_user.supervisor? || current_user.sup_hr? %>
          </li>
          <li class="nav-item">
            <%= link_to('Planillas', admin_payroles_path, class: 'nav-link' ) unless current_user.sup_hr? %>
          </li>
          <li class="nav-item">
            <%= link_to('Aguinaldos', admin_extra_payroles_path, class: 'nav-link' ) if current_user.admin? || current_user.supervisor? || current_user.employee? %>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" aria-expanded="false" onclick="toggleNavLink('automatics')" id="automaticsNavLink">
        <i class="menu-icon fas fa-circle-notch"></i>
        <span class="menu-title">Automáticos</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="automatics">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <%= link_to('Todas', admin_movements_path, class: 'nav-link') if current_user.admin? || current_user.psychologist? %>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" aria-expanded="false" onclick="toggleNavLink('downloads')" id="downloadsNavLink">
        <i class="menu-icon fas fa-download"></i>
        <span class="menu-title">Descargas</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="downloads">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <%= link_to('Todos', admin_downloads_path, class: 'nav-link') if current_user.admin? %>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item" id="signoff">
      <a class="nav-link" rel="nofollow" data-method="delete" href="/users/sign_out">
        <i class="menu-icon fas fa-sign-out-alt"></i>
        <span class="menu-title">Salir</span>
      </a>
    </li>
  </ul>
</nav>

<script>

function toggleNavLink(id){
  var navLink = $("#"+id).collapse('toggle');

  var x = document.getElementById(id+"NavLink").getAttribute("aria-expanded"); 
  if (x == "true") {
    x = "false"
  } else {
    x = "true"
  }
  document.getElementById(id+"NavLink").setAttribute("aria-expanded", x);
}

$(function() {
  $('#sidebarCollapse').on('click', function () {
    $('#sidebar').toggleClass('active');
  });
});

</script>