<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="user-wrapper">
          <div class="profile-image">
            <%= image_tag('default_avatar.png') %>
          </div>
          <div class="text-wrapper">
            <p class="profile-name"><%= current_user.name %></p>
            <div>
              <small class="designation text-muted">Administrador</small>
              <span class="status-indicator online"></span>
            </div>
          </div>
        </div>
        <%= link_to('Inicio', authenticated_root_path, class: 'btn btn-info btn-block')%>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" aria-expanded="false" onclick="toggleNavLink('maintenance')" id="maintenanceNavLink">
        <i class="menu-icon fas fa-database"></i>
        <span class="menu-title">Mantenimiento</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="maintenance">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <%= link_to('Clientes', admin_customers_path, class: 'nav-link') if current_user.admin? %>
          </li>
          <li class="nav-item">
            <%= link_to('Pagos', admin_payments_path, class: 'nav-link') if current_user.admin? %>
          </li>
          <li class="nav-item">
            <%= link_to('Puestos', admin_stalls_path, class: 'nav-link') if current_user.admin? %>
          </li>
          <li class="nav-item">
            <%= link_to('Rangos', admin_positions_path, class: 'nav-link') if current_user.admin? %>
          </li>
          <li class="nav-item">
            <%= link_to('Empleados', admin_employees_path, class: 'nav-link') if current_user.admin? %>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" aria-expanded="false" onclick="toggleNavLink('operations')" id="operationsNavLink">
        <i class="menu-icon fas fa-cogs"></i>
        <span class="menu-title">Operaciones</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="operations">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <%= link_to('Roles', admin_roles_path, class: 'nav-link')%>
          </li>
          <li class="nav-item">
            <%= link_to('Planillas', admin_payroles_path, class: 'nav-link') if current_user.admin? %>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" rel="nofollow" data-method="delete" href="/users/sign_out">
        <i class="menu-icon fas fa-sign-out-alt"></i>
        <span class="menu-title">Salir</span>
      </a>
    </li>
  </ul>
</nav>

<script>

function toggleNavLink(id){
  var navLink = $("#"+id).collapse('toggle');

  var x = document.getElementById(id+"NavLink").getAttribute("aria-expanded"); 
  if (x == "true") {
    x = "false"
  } else {
    x = "true"
  }
  document.getElementById(id+"NavLink").setAttribute("aria-expanded", x);
}

$(function() {
  $('#sidebarCollapse').on('click', function () {
    $('#sidebar').toggleClass('active');
  });
});

</script>