<!doctype html>
<html lang="en">
<head>
  <title>PASECO</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"/>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="off-canvas-sidebar">

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top text-white">
  <div class="container">
    <div class="navbar-wrapper">
      <a class="navbar-brand" href="/">PASECO</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-example">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navigation-example">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="<%= root_path %>" class="nav-link">
            <i class="material-icons">dashboard</i> Inicio
          </a>
        </li>
        <li class="nav-item ">
          <a href="<%= new_user_registration_path %>" class="nav-link">
            <i class="material-icons">person_add</i> Registrarse
          </a>
        </li>
        <li class="nav-item ">
          <a href="<%= new_user_session_path %>" class="nav-link">
            <i class="material-icons">fingerprint</i> Iniciar sesión
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->
<div class="wrapper wrapper-full-page">
  <div class="page-header lock-page header-filter" style="background-image: url(<%= image_path('lock.jpg') %>)">
    <!--   you can change the color of the filter page using: data-color="blue | green | orange | red | purple" -->
    <div class="container">
      <%= yield %>
    </div>
    <footer class="public-footer">
      <div class="container">
        <div class="copyright float-right">
          &copy;
          <script>
              document.write(new Date().getFullYear())
          </script>, made with <i class="material-icons">favorite</i> by
          <a href="/" target="_blank">PASECO</a> for a better world.
        </div>
      </div>
    </footer>
  </div>
</div>
</body>
</html>
<script>

  function toggleNavLink(id){ var navLink = $("#"+id).collapse('toggle'); }

</script>